<div class="modal fade" id="new_pipeline_modal" tabindex="-1" role="dialog" aria-labelledby="new_pipeline_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_pipeline_modal_label">New Pipeline</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="new_pipeline_form" action="/pipelines/new" method="post">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>

                    <div class="autocomplete form-group" style="width:100%" >
                        <label for="defPipeFile" class="col-form-label">Pipeline Directory</label>
                        <input type="text" class="form-control" id="defPipeFile" name="def" autocomplete="off">
                    </div>

                    <script>
                        $( document ).ready(function() {
                            autocomplete(document.getElementById('defPipeFile'))
                        });
                    </script>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn  btn-primary" form="new_pipeline_form">Load Pipeline</button>
            </div>
        </div>
    </div>
</div>
