<li class="nav-item pcoded-hasmenu">

    <a href="#!" class="nav-link ">
        <span class="pcoded-micon">
            <i class="feather icon-file"></i>
        </span>
        <span class="pcoded-mtext">Pipelines</span>
        <span onclick='add_pipeline(event)' class="pcoded-micon pcoded-mtext" style="float:right; padding-right:10px;">
							    <i class="feather icon-file-plus"></i>
        </span>
    </a>
    <ul class="pcoded-submenu " id="pipelines_list">
        {% for file in pipelines.values() %}
        <li id="pipeline-{{file.id_ | safe}}" class="pcoded-hasmenu">
            <a href="#!" class="nav-link speci">
                <span class="pcoded-micon">
                    <i class="feather icon-file"></i>
                </span>
                <span class="pcoded-mtext">{{file.name}}</span>
                <span onclick='add_pipeline(event)' class="pcoded-micon pcoded-mtext" style="float:right; padding-right:40px;">
							    <i class="feather icon-delete"></i>
                </span>
    </a>

            <ul class="pcoded-submenu" id="pipeline_files_list">
                <li id="file-home-{{file.id_ | safe}}">
                    <a href="{{url_for('base.pipelines.view',id_=file.id_)}}">
                        <div style="display:flex;">
                            <span style="flex:1;">Home</span>
                        </div>
                    </a>
                </li>

                {% for file in file.files %}

                <li id="file-{{file.id_ | safe}}">
                    <a href="{{url_for('base.files.view',id_=file.id_)}}">
                        <div style="display:flex;">
                            <span style="flex:1;">{{file.name}}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

</li>