<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">

  #####TITLE#####

  <link rel='stylesheet' href='css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">  
  #####STYLES#####
</head>

<body>
    <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            
            <div class="item active center">
              <img src="./images/image1.jpg"  alt="First Slide">
		            <div class="carousel-caption">
    	            caption 1
                </div>
            </div>
            <div class="item center">
                <img src="./images/image2.jpg"  alt="Second Slide">
                <div class="carousel-caption">
                    caption 2
                </div>
            </div>
            <div class="item center ">
                <img src="./images/image3.jpg" alt="Third Slide">
                <div class="carousel-caption">
                    caption 3
                </div>
            </div>
        </div>  
        <!-- Controls -->
        <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container" style="width:100%; margin-top:30px; margin-bottom:50px">
      <div class="row">
       <div class="col-md-3">
	          <div data-spy="affix" data-offset-top="500" style="width:100%" >
                #####TREE#####
            </div>
      </div>

       <div class='col-md-9' style="font-size:13px;">
            #####CONTENT#####
       </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 
    <script  src="js/index.js"></script>
    
    #####JS_INCLUDES#####
  

</body>

</html>
