<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        VNV - {% block title %}{% endblock %}
    </title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="canonical" href="https://appseed.us/admin-dashboards/flask-dashboard-gradientable">

    <meta name="description" content=""/>
    <meta name="keywords" content="">
    <meta name="author" content="Codedthemes"/>
    <!-- Favicon icon -->
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <script src="/static/assets/js/vendor-all.min.js"></script>


    <!-- Specific CSS goes HERE -->
    {% include 'includes/stylesheets.html' %}

    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="" >

<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

{% include 'includes/sidebar.html' %}

{% include 'includes/navigation.html' %}
{% include 'includes/loading.html' %}


<div class="pcoded-main-container fcolumn" style="padding-bottom:50px;" >
    <div class="pcoded-content fcolumn fchild" >
        <div id="formControlElm" class="page-block fcolumn fchild">

            {% block content %}{% endblock content %}

        </div>
    </div>
</div>

{%include "includes/toast.html" %}

{% include 'includes/scripts.html' %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}{% endblock javascripts %}

<script>

const MYNAME = "Ben"

$("#formControlRange").on("input change",(e)=>{
   $('#formControlElm').css('max-width', e.target.value + "%")
})
$('#formControlElm').css('max-width', $('#formControlRange').val() + "%")

</script>

<footer>
    <div class="vnv-foot-spacer"></div>
    <div class="vnv-foot" >
       <a style="color:white" href="{{COPYRIGHT_LINK|safe}}">&copy {{COPYRIGHT_MESSAGE}}</a>
       <img height="30px" src="/static/assets/images/logo.png">
       <a style="color:white" href="https://rnet-tech.com"> Powered By <img style="height:25px" src="/static/assets/images/vnv_logo.png"> </a>
    </div>
</footer>


</body>


</html>
