*.sw[a-z]
*.o
*.a
*.so
*.autosave
*.bak
*.removed
*.idea 
*.mod
.vscode

__pycache__
CMakeLists.txt.user
node_modules/

xml/xplus.bak
xml/vv_schema/*
xml/.xplus.schema*
injection/build
tests/build
build/
report-generation/python_api/VnVReader.py
report-generation/app/temp
