<ul class="navbar-nav ml-auto">

    <li>
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon feather icon-bell"></i><span
                    class="badge bg-danger"><span class="sr-only"></span></span></a>
            <div class="dropdown-menu dropdown-menu-right notification">
                <div class="noti-head">
                    <h6 class="d-inline-block m-b-0">Notifications</h6>
                    <div class="float-right">
                        <a href="#!" onclick='mark_all_notifications_as_read()' class="m-r-10">mark as read</a>
                        <a href="#!" onclick="clear_all_notifications()">clear all</a>
                    </div>
                </div>
                <ul class="noti-body">
                    {% if notifications | length == 0 %}

                    {% else %}
                    {% for notif in notifications %}
                    <li id='notification-{{notif.id |safe}}'
                        class="notification {%if loop.index > 5%} hidden {% endif %} ">
                        <div class="media">
                            <img class="img-radius" src="{{notif.icon | safe}}" alt="{{notif.title}}">
                            <div class="media-body">

                                <p><strong>{{notif.title}}</strong><span class="n-time text-muted"><i
                                        class="icon feather icon-clock m-r-10"></i><time class="timeago"
                                                                                         datetime={{notif.timestamp.isoformat()}}></time></span>
                                </p>
                                <p>{{notif.message}}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
                <div class="noti-footer">
                    <a href="#!" onclick="show_all_notifications()">show all</a>
                </div>
            </div>
        </div>
    </li>
</ul>
