
const month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug", "Sep", "Oct", "Nov", "Dec"];
const days = ["th","st","nd","rd","th"]

function dateFormat(date) {
    var d = new Date(date)
    return `${month[d.getMonth()]} ${d.getDay()}${days[Math.min((d.getDay()%10),4)]}`
}

function toggleIssueBody(number) {
   renderIssueBody(number);
   $('#issue-' + number + '-body').toggle(250)
   $('#issue-' + number + '-toggle').toggleClass(["icon-chevrons-down","icon-chevrons-up"])

}

function clearBuildClickHandlers(number) {
    $('#main_issue_container').off('click','#issue-' + number + '-state');
    $('#main_issue_container').off('click','#issue-' + number + '-delete');
    $('#main_issue_container').off('click','#issue-' + number + '-toggle');
    $('#main_issue_container').off('click','#issue-' + number + '-newcomment');

}

function getComments(comments,number, readonly) {
    var s = ''

    if (!readonly) {
        s += `

        <div class="issue-comment" style="display:flex; position:relative; margin-top:10px; border-radius:3px;">
              <div class="" style="display:flex;flex-direction:column; align-items:center;">
                <img class="issue_img" src="/avatar/${username}" style="border-radius:35px; width:35px; height:35px;">
                <div class="issue-comment-uname" style="text-align:center;font-weight: 900">${MYNAME}</div>
              </div>
              <textarea id="issue-${number}-newcomment-text" class="form-control" style="flex:1; margin-left:10px;" placeholder="What do you have to say?"></textarea>
              <button id="issue-${number}-newcomment" type="button" class="btn btn-primary" style="margin-left:10px; " >Submit</button>
        </div>`
    }

   //var comment = { username : "Ben" , date : Date.now(), text : "Hello this is my comment" }
   if (comments != undefined) {
    comments.forEach(function (comment, index) {
      s+= `<div class="issue-comment" style="display:flex; position:relative; margin-top:10px; border-radius:3px;">
              <div class="" style="display:flex;flex-direction:column; align-items:center;">
                <img class="issue_img" src="/avatar/${comment.username}" style="border-radius:35px; width:35px; height:35px;">
                <div class="issue-comment-uname" style="text-align:center;font-weight: 900">${comment.username}</div>
              </div>
              <div style="flex:1; margin-left:10px;">
                  ${comment.text}
              </div>
              <div style="position:absolute; bottom:0px; right:10px; color:lightgrey;">${dateFormat(comment.date)}</div>
            </div>`
        })
    }
    return s;
}

function buildIssue(data, closeable, deleteable, commentable) {

 var dela = ""
 if (deleteable) {
    dela = `<span id="issue-${data.number}-del" class="badge badge-pill " style="cursor:pointer; ">
                <i id="issue-${data.number}-delete" class="feather icon-delete"></i>
            </span>`
 }

 var comments = getComments(data["comments"], data["number"], commentable === undefined )

 var html = `<div id="issue-${data.number}" class="issue_main card">
                 <div class=" issue_container ">
                    <div class="issue_avatar">
                        <img class="issue_img" src="${data.user_img}">
                    </div>
                    <div class="issue_info">
                        <div> <a href="${data.url}"   target="_blank" class="issue_title">${data.title}</a></div>
                        <div class="issue_subtitle">#${data.number} opened on ${dateFormat(data.date)} by ${data.user}</div>
                    </div>
                    <div style="display:flex; position:absolute; top:10px; right:10px;">
                        <span id="issue-${data.number}-state" class="badge badge-pill issue_badge ${data.state}" style="cursor:pointer; margin-right:10px;">${data.state}</span>
                        ${dela}
                    </div>

                    <span  class="expand" style="">
                        <i id="issue-${data.number}-toggle" class="feather icon-chevrons-down"></i>
                    </span>
                 </div>
                 <div id="issue-${data.number}-body" class="issue_body hidden">
                     <div id="issue-${data.number}-body-content" class="load">${data.body}</div>
                     <div id="issue-${data.number}-comments">
                        ${comments}
                     </div>
                 </div>
            </div>
            `

    var d = document.createElement("div")
    d.innerHTML= html


    $('#main_issue_container').on('click','#issue-' + data.number + '-toggle' , function(){
        toggleIssueBody(data.number)
    })

    if (commentable) {
        $('#main_issue_container').on('click','#issue-' + data.number + '-newcomment' , function(){
        if (data["comments"] === undefined) {
                data["comments"] = []
            }

            var newc = {
                "username" : MYNAME ,
                 "text" : $('#issue-' + data.number + '-newcomment-text').val(),
                 "date" : Date.now()
            }
            $('#issue-' + data.number + '-comments').html(getComments( commentable(data.number, newc), data["number"]))
        })
    }

    if (closeable) {
        $('#main_issue_container').on('click','#issue-' + data.number + '-state' , function(){
            var a = $('#issue-' + data.number + '-state')
            if (a.hasClass("open")) {
                a.removeClass("open")
                a.addClass("closed")
                a.text("closed")


            } else {
                a.removeClass("closed")
                a.addClass("open")
                a.text("open")
                closeable(data.number, true)

            }
        })
    }
    if (deleteable) {

        $('#main_issue_container').on('click','#issue-' + data.number + '-delete' , function(){
            $('#issue-' + data.number).hide()
            deleteable(data.number)
        })

    }
    toggleIssueBody(data.number);

    return d
}