
<div id="main_issue_container">

</div>
<button id="more_gitlab_issues" class="btn btn-primary" style="width:100%" > Load More Issues </button>

<script src="/static/assets/js/plugins/parse-link-header.js"></script>
<script type="module">


{% include "issues/build.html" %}

const vnv_data = JSON.parse('{{ vnv_data | safe }}')


var url = `https://${vnv_data.base}/api/v4/projects/${vnv_data.id}/issues`
var labs = vnv_data.labels || []
if (labs.length > 0 ) {
  url += `?labels=${labs.join()}`
}
const mdurl = `https://${vnv_data.base}/api/v4/markdown`

var nextLink = url

function renderIssueBody(number) {
    var elm =  $('#issue-' + number + '-body')
    if (elm.hasClass('load')){

        elm.removeClass('load');
        $.post(mdurl, {
            text : elm.html()
        }, function (data,status, xhr) {
          elm.html(data.html)
        });
    }
}

function addIssues(issues) {
    let fragment = document.createDocumentFragment();
    for (let i = 0; i < issues.length; i++) {
           fragment.appendChild(
              buildIssue({
                        title: issues[i].title,
                        body: issues[i].description,
                        date: issues[i].created_at,
                        url : issues[i].web_url,
                        user: issues[i].author.username,
                        number: issues[i].iid,
                        user_img: issues[i].author.avatar_url,
                        state : issues[i].state
                    })
                );
    }
    document.getElementById('main_issue_container').appendChild(fragment) ;
}

function loadIssues() {
  if (nextLink.length > 0 ) {
      $.get(nextLink, function(issues, status, xhr) {
         addIssues(issues);
         if (! ( xhr.getResponseHeader('x-total-pages') === xhr.getResponseHeader('x-page') ) ) {
            nextLink = parseLinkHeader(xhr.getResponseHeader('link')).next.url
         } else {
            nextLink = ""
            $('#more_gitlab_issues').hide()
         }
      });
  }
}


$(document).ready(function() {

    $('#more_gitlab_issues').click(function(){
        loadIssues();
    });
    loadIssues();
});

</script>