
{%include 'issues/newissue.html' %}

<div id="main_issue_container"></div>

<script type="module">

{% include "issues/build.html" %}

const vnv_data = {{vnv_data|safe}}
var num_issues = 0


const mdurl = `https://gitlab.com/api/v4/markdown`



{%if not readonly %}

document.querySelector('#new_issue').addEventListener('click', function() {
    $('#new-issue-modal').modal('show')

});

document.querySelector('#submit-new-issue').addEventListener('click', function() {

    var name = MYNAME;
    var title = $('#new-issue-title').val();
    var description = $('#new-issue-description').val();
    var newIssue =  {date: Date.now(), title:title,description:description,name:name}
    vnv_data.push(newIssue)
    save_vnv_data()
    addIssues()
    $('#new-issue-modal').modal('hide')

})

function close_local_issue(id, open) {

    vnv_data[id].state = open ? "open" : "closed"
    save_vnv_data()
}

function delete_local_issue(id) {

    vnv_data.splice(id,1)
    save_vnv_data()
    addIssues();


}

function save_vnv_data() {
    const url = "/inputfiles/save-issues/{{file_id}}?data=" + encodeURIComponent(JSON.stringify(vnv_data))
    $.post(url, function(){
        console.log("Save Successful")
    })
}

function update_comments(index, newcomment) {
    var d = vnv_data[index]
    if (d["comments"] === undefined) {
        d["comments"] = []
    }
    d["comments"].push(newcomment)
    save_vnv_data()
    return d["comments"]
}

{% endif %}


function renderIssueBody(number) {
    var elm =  $('#issue-' + number + '-body-content')
    if (elm.hasClass('load')){
        elm.removeClass('load');
        $.post(mdurl, {
            text : elm.html()
        }, function (data,status, xhr) {
          elm.html(data.html)
        });
    }
}

function addIssues() {
    try {
        $('#main_issue_container').empty();
    } catch {
    }
    if (vnv_data.length == 0 ) {
        $('#main_issue_container').html("<div class='card' style='padding:20px'>You have not created any issues yet!</div>")
        return
    }

    let fragment = document.createDocumentFragment();


    vnv_data.forEach(function (issue, index) {

        clearBuildClickHandlers(index);

        fragment.appendChild(
              buildIssue({
                        title: issue["title"] || "Issue " + index ,
                        body: issue["description"] || "Default Issue Description",
                        date: issue["date"] || Date.now() ,
                        url : "javascript:void(0);",
                        user: issue["name"] || "Unknown User" ,
                        number: index,
                        comments: issue["comments"],
                        user_img: "/static/assets/images/user/AVATARS.png",
                        state : issue["state"] || "open"
                    } {%if not readonly %} ,close_local_issue, delete_local_issue, update_comments {%endif%})
        );
    });

    document.getElementById('main_issue_container').appendChild(fragment) ;
}


$(document).ready(function() {
    addIssues();
    {% if not readonly %}
        {% if not file.issues_enabled %}
           $('#main_issue_container').hide()
           $('#new_issue').hide()
        {%endif%}
    {%endif%}
});


</script>
