<div style="display:flex; margin-bottom:20px;">
    <h4 style="flex:1"> Local Application Issues and Comments:</h4>
    {% if not readonly %}
        <button id="new_issue" class="btn btn-primary" style="margin-right:10px;">New</button>
        <button id="issues_enabled_btn" onclick="toggle_issues({{file.id_}})" class="btn btn-primary" style="margin-right:10px;">{% if file.issues_enabled %}Disable {%else%}Enable {%endif%} Issues</button>
    {%endif%}
</div>

{% if not readonly %}
<div id="new-issue-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="new-issue-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Or Edit Issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ptc-modal-body">

                    <div class="form-group">
                        <label>Title</label>
                        <input placeholder="New Issue" title="name" , id="new-issue-title" type="text" class="form-control">
                        <small>A short descriptive title for your issue</small>
                    </div>

                    <div class="form-group">
                        <label for="new-issue-description">Description</label>
                        <textarea class="form-control" name="description" , id="new-issue-description" rows="3"></textarea>
                        <small>Describe the issue in detail (Github markdown format is supported)</small>
                    </div>
            </div>
            <div class="modal-footer">
                <button id="submit-new-issue" class="btn btn-primary event-btn m-2" type="button">
                    <span class="btn-text" style="">Submit</span>
                </button>
            </div>
        </div>
    </div>
</div>
{%endif%}

<script>
function toggle_issues(fileId) {
    {% if not readonly %}
        $.post('/inputfiles/toggle_issues/' + fileId, function(data) {
            $('#main_issue_container').toggle(data)
            $('#new_issue').toggle(data)

            if (data === "show") {
                $('#issues_enabled_btn').html("Disable Issues")
            } else {
                $('#issues_enabled_btn').html("Enable Issues")
            }
        })
    {%endif%}
}
</script>