{% with strip = request.args.get("strip"), processor = request.args.get("processor",0)  %}

{%if file.get_world_size() > 1 %}
<input style="width:100px;" type='number' class="form-control" id="proc_id" max="{{file.get_world_size()-1}}" min="0" value={{processor}}>
<input style="width:20px; margin-left:10px;" type="checkbox" title="All" class="form-control" , id="only-check" {% if strip %} checked {% endif %}>

<script>

      $( document ).ready(function() {

         $( "#proc_id" ).change(function() {

               url = '{{url_for('base.files.view',id_=file.id_, viewer="processor")}}'

               if ( $('#only-check').is(':checked') ) {
                    url += "&strip=true"
               }
               url += "&processor=" + $('#proc_id').val().toString()
               window.location.href = url

         });

         $( "#only-check" ).change(function() {

               url = '{{url_for('base.files.view',id_=file.id_, viewer="processor")}}'
               if ( $('#only-check').is(':checked') ) {
                    url += "&strip=true"
               }
               url += "&processor=" + $('#proc_id').val().toString()
               window.location.href = url

         });

     });
</script>


{%endif%}
{%endwith%}
