<div style="width:100%" >

{%if file.exists() %}

<div style="position:relative">

<a title="connection info" style="position: absolute;
top: 15px;
right: 35px;
font-size: 15px;" onclick='show_file_reader({{file.getVnVFileId()}},"{{file.url()}}","connection","{{modal}}")'><i
            class="feather icon-server" style="cursor: pointer;
border: 1px solid #80808070;
border-radius: 50px;
padding: 3px;"></i></a>

<ul class="breadcrumb" style="margin-left:-15px; margin-bottom:-5px;">
    <li class="breadcrumb-item"><a onclick='show_file_reader({{file.getVnVFileId()}},"{{file.root()}}","directory","{{modal}}")'><i class="feather icon-home" style="cursor:pointer"></i></a></li>
    {% for i in file.crumb() %}
         <li class="breadcrumb-item"><span style="cursor:pointer" onclick="show_file_reader({{i.getVnVFileId()}},'{{i.url()}}','{{i.reader}}','{{modal}}')">{{i.name}}</span></li>
    {% endfor %}
</ul>

</div>



{% if error %}
 <div class="alert alert-danger" role="alert">
	{{error}}
 </div>
{% endif %}

{{file.render(modal=modal) | safe }}

</div>

{% else %}
<script>
    $(document).ready(function(){
        show_file_reader({{file.getVnVFileId()}},"{{file.url()}}","connection","{{modal}}")
    });
</script>
{% endif %}