
<div class="">
    <div class="card-body">
        <h4 style="text-align:center"> Communication Library Information:</h4>

        <div class=" card">
            <div class="card-body">
                {% with rankInfo = file.getRankInfo() %}
                <h5> Number of MPI Processors: {{ rankInfo.size }} </h5>
                <h5> Number of Nodes: {{ rankInfo.nodes }} </h5>
                <h5> Max Ranks per Node: {{ rankInfo.max_rpn }} </h5>
                <h5> Min Ranks per Node: {{ rankInfo.min_rpn }} </h5>
                <h5> Unique Communicators: {{ rankInfo.unique_comms }} </h5>
                <h5 title="{{rankInfo.version}}"> Version: {{ rankInfo.shortversion(130) }} </h5>
                {% endwith %}
            </div>
        </div>
        <div class="" style="width:100%; max-width:100%">
            <div class="" style="display:flex; justify-content:space-between">
                <div class="card" style="width:48%">
                    <h4 style="text-align:center;">Communication Graph</h4>
                    <div  id="commMapGraph" style="flex:1"></div>
                </div>

                <div class="card" style="width:48%">
                    <h4 style="text-align:center;">Communicator Composition</h4>
                    <div  id="commMapContent" style="flex:1">
                        {{ file.renderDefaultComm()|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    const gData = JSON.parse('{{file.getGlobalCommMap()|safe}}')

    selected = gData.nodes[0]

    container = document.getElementById('commMapGraph')
    const Graph = ForceGraph()(container)
        .cooldownTicks(100)
        .width(600).height(600)
        .graphData(gData)
        .onNodeClick(node => {

           Graph.centerAt(node.x, node.y, 1000);
           var url = '{{url_for('base.files.comm', id_=file.id_)}}'
           url += "?cid=" + node.id
           $.get(  url , function( data ) {
               $('#commMapContent').html(data)
           });
           selected = node
         })
         .nodeColor(node => {
            if (node == selected)
                return "#11345d";
            return "#73b4ff"
         });

    Graph.d3Force('center', null);
    once = false;

    // fit to canvas when engine stops
    Graph.onEngineStop(() => { if (!once) { Graph.zoomToFit(400,100); once = true;} });

    elementResizeDetectorMaker().listenTo(
       container,
       el => {Graph.width(el.offsetWidth); Graph.zoomToFit(400,100);}
    );
});


</script>
