<div id="commmap-chart-{{commrender.comm}}" ></div>

<script>
  $(function() {
var options = {
        series: JSON.parse('{{commrender.getData()|safe}}'),
        chart: {
          height: "100%",
          type: 'heatmap',
        },
        heatmap: {
           reverseNegativeShade : true
        },
        dataLabels: {
          enabled: true,
          formatter: function (val, opts) {
                d = opts.w.config.series[opts.seriesIndex].data[opts.dataPointIndex]
                rr =  "Rank " + d.r ;
                return rr
          },
          textAnchor: 'middle',
        },

        colors: ["#11345d"]
    };

    var chart = new ApexCharts(document.querySelector("#commmap-chart-{{commrender.comm}}"), options);
    chart.render();
 });

</script>