

<div class="card" style="padding:10px; flex:1; ">
    <div style="display: flex; justify-content: end; position: absolute; right: 5px; top: 5px; z-index: 20;">
        <button onclick="$('#data_tree_div').jstree('refresh')" type="button" class="btn  btn-icon btn-outline-secondary"><i class="feather icon-refresh-cw"></i></button>
    </div>
    <div id="data_tree_div" style=""></div>
</div>
<script>
    $(document).ready( function () { $('#data_tree_div').jstree(

{
  "core" : {
    "animation" : 0,
    "check_callback" : true,
    "themes" : { "stripes" : true },
    'data' : {
      url : function (node) {
        if (node.id === "#")
            return  '/files/data_root/{{file.id_}}';
        return  '/files/data';
      },
      data : function (node) {
        if (node.id === "#")
            return  { "id" : "#" };
        return { 'fileId':node.li_attr.fileId , nodeId : node.li_attr.nodeId  };
      },
      dataType : "json"
    }
  },
  "plugins" : [
    "contextmenu", "dnd", "search",
    "state", "types", "wholerow"
  ]
}

    ); } );
</script>