<div style="position:relative;">


    <a title="back to cwd" style="position: absolute;top: 15px;right: 10px;font-size: 15px;z-index:2"
       onclick='show_file_reader({{file.id_}},"{{file.get_cwd()}}","directory","inline-file-browser")'>
         <i class="feather icon-chevrons-left"
            style="cursor: pointer;border: 1px solid #80808070;border-radius: 50px;padding: 3px;">
         </i>
    </a>

    <div id="inline-file-browser">
        {%with file = file.browse() %}
        {%with modal = "inline-file-browser" %}
        {%include 'files/browser.html' %}
        {%endwith%}
        {%endwith%}
    </div>


</div>