<div class="modal fade" id="new_file_modal" tabindex="-1" role="dialog" aria-labelledby="new_file_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_file_modal_label">New File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="new_file_form" action="/files/new" method="post">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="reader" class="col-form-label">Reader</label>
                        <input type="text" class="form-control" id="reader" name="reader">
                    </div>
                    <div class="form-group">
                        <label for="filename" class="col-form-label">Filename</label>
                        <input type="text" class="form-control" id="filename" name="filename">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn  btn-primary" form="new_file_form">Load file</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="file_viewer_modal" tabindex="-1" role="dialog" aria-labelledby="file_viewer_modal_label" aria-hidden="true">
    <div id="file_view_modal_dialog" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="file_viewer_modal_label">View File </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div id="file_viewer_modal_body" class="modal-body" style="display:flex; justify-content:center">

            </div>

        </div>
    </div>
</div>
<script>

</script>
