<div class="modal fade" id="new_file_modal" tabindex="-1" role="dialog" aria-labelledby="new_file_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_file_modal_label">Load A New VnV Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <div style="padding:20px;">
                Enter the required information below to load an existing VnV Report. The information
                required will change based on the reader you select, so please be sure to select the
                reader first!
            </div>

            <div class="modal-body">
                <form id="new_file_form" action="/files/new" method="post">
                     <div id="name-group" class="form-group">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                        <small>This unique name will be used to identify the report in menus and titles.</small>

                    </div>

                    <div class="form-group">
                        <label for="reader" class="col-form-label">Reader</label>
                        <select type="text" class="form-control" id="reader" name="reader">
                            {%for r in list_vnv_readers() %}
                            <option value="{{r[0]}}" {%if loop.index0 == 0 %} selected {%endif%} data-name="{{r[3]}}" data-message="{{r[1]}}">{{r[0]}}</option>
                            {%endfor%}
                        </select>
                        <small> What reader should be used to read the input file. </small>
                    </div>



                    <div class="autocomplete form-group" style="width:100%" >
                        <label id="reader_label" for="inputfilename" class="col-form-label">{{list_vnv_readers()[0][3]}}</label>
                        <input id="inputfilename" type="text" class="form-control" name="filename" autocomplete="off" placeholder="" value="/home/ben/source/vv/vv-neams/build/examples/cpp/outputs/euler/out">
                        <small id="reader_message">{{list_vnv_readers()[0][1]}}</small>
                    </div>

                    <div id="username-group" class="form-group" style="display:none">
                        <label for="name" class="col-form-label">User Name</label>
                        <input type="text" class="form-control" id="username" name="username", value="" placeholder="Reader Username (may not be required)">
                        <small>A username may be required to authenticate with the reader. If one is required it should be in the input file </small>
                    </div>

                    <div id="password-group" class="form-group" style="display:none">
                        <label for="name" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Reader Password (may not be required)">
                        <small> A password may be required to authenticate with the reader. If one is required it should be in the input file</small>
                    </div>

                    <script>
                        $( document ).ready(function() {

                            $('#reader').on('change', function() {
                               
                                $('#reader_message').html($(this).find(":selected").data("message"));
                                $('#reader_label').html($(this).find(":selected").data("name"));

                                if ($(this).val() === "saved") {
                                    $('#name-group').hide()
                                } else {
                                    $('#name-group').show()
                                }

                                if ($(this).val() === "json_socket" || $(this).val() === "json_http") {
                                       $('#username-group').show()
                                       $('#password-group').show()
                                } else {

                                       $('#username-group').hide()
                                       $('#password-group').hide()
                                }
                            });
                            autocomplete(document.getElementById('inputfilename'), function() {
                                return "&context=" + $('#reader').val();
                            })
                        });
                    </script>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn  btn-primary" form="new_file_form">Load file</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="file_viewer_modal" tabindex="-1" role="dialog" aria-labelledby="file_viewer_modal_label" aria-hidden="true">
    <div id="file_view_modal_dialog" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="file_viewer_modal_label">View File </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div id="file_viewer_modal_body" class="modal-body" style="display:flex; justify-content:center">

            </div>

        </div>
    </div>
</div>

<div id="data-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="data-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="data-modal-label">Data Explorer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="data-modal-body">
            </div>
        </div>
    </div>
</div>

<script>

</script>
