<div class="fchild "  style="padding:15px;    border: 1px solid #80808038; ">

    <ul class="nav nav-pills mb-3" id="pills-packages-tab" role="tablist">
        {% for package in file.getPackages() %}
            <li class="nav-item">
                <a class="nav-link {% if loop.index == 1 %} active {%endif%} " state="ip_packages" id="pills-package{{package.name}}-tab" data-toggle="pill" href="#pills-package-{{package.name}}" role="tab"
                   aria-controls="pills-package-{{package.name}}" aria-selected="true">{{package.name}}</a>
            </li>
        {%endfor%}
    </ul>

    <div class="tab-content fcolumn fchild " id="pills-package-tabContent">
        {%for package in file.getPackages() %}
        <div class="tab-pane fade {% if loop.index == 1 %} show active {%endif%} finlinecolumn fchild" id="pills-package-{{package.name}}" role="tabpanel" aria-labelledby="pills-package-{{package.name}}-tab">
             {{ file.render_package(package.name) | safe}}
        </div>
        {%endfor%}
    </div>

</div>