{% with loopList = [["inputfiles","Input Files", file.get_prov().has_inputs() ],["outputs","Outputs", file.get_prov().has_outputs() ],["libraries","Libraries", True],["input","VnV Configuration", True]] %}
{% with active_tab = request.args.get("btab",loopList[3][0]) %}
<div class="fcolumn fchild"  style="padding:15px;    border: 1px solid #80808038; ">

    <div class="">
            {%with prefix="Executable:", file=file.get_prov().get_executable() %}
            {% include 'files/prov/file.html' %}
            {% endwith %}
            <h6>Command Line: {{ file.get_prov().get_command_line() }}</h6>
            <h6>Date: {{ file.get_prov().get_timestamp() }} </h6>
    </div>

    <div style="height:25px;"></div>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        {% for i in loopList %}
        {% if i[2]%}
        <li class="nav-item">
            <a class="nav-link {%if active_tab == i[0] %} active {%endif%}" state="provVals" id="pills-{{i[0]}}-tab" data-toggle="pill"
               href="#pills-{{i[0]}}" role="tab"
               aria-controls="pills-{{i[0]}}" aria-selected="true">{{i[1]}}</a>
        </li>
        {%endif%}
        {%endfor%}
    </ul>

    <div class="tab-content fcolumn fchild " id="pills-tabContent">
        {% for i in loopList %}
        {%if i[2] %}
        <div class="tab-pane fade {% if active_tab == i[0] %} show active {%endif%} finlinecolumn fchild"
             id="pills-{{i[0]}}" role="tabpanel"
             aria-labelledby="pills-{{i[0]}}-tab">
            {% include 'files/prov/' + i[0] + '.html' %}
        </div>

        {%endif%}
        {%endfor%}
    </div>

</div>
{% endwith %}
{% endwith %}