<li class="nav-item pcoded-hasmenu">

    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file"></i></span><span
            class="pcoded-mtext">VnV Reports</span>
    </a>
    <ul class="pcoded-submenu" id="files_list">

        {% for file in uniquefiles() %}
        <li id="file-{{file.id_ | safe}}">
            <a onclick="markAsLoading(true,'Loading')" href="{{url_for('base.files.view',id_=file.id_)}}">
                <div style="display:flex;">
                    <span id="file-display-name-side-{{file.id_}}" style="flex:1;">{{file.dispName}}</span>
                    <span title="reload" onclick='remove_file({{file.id_ | safe }}, event, true)' class="pcoded-micon"
                          style="padding-right:10px;">
									<i class="feather icon-refresh-ccw"></i>
					</span>
                    <span title="delete" onclick='remove_file({{file.id_ | safe }}, event, false)' class="pcoded-micon"
                          style="padding-right:10px;">
									<i class="feather icon-delete"></i>
								</span>
                </div>
            </a>
        </li>
        {% endfor %}
        <li>
            <a href="#!" onclick='add_file(event)' style="cursor:pointer">
                <i class="feather icon-file-plus"></i> Load A New Report
            </a>
        </li>
    </ul>

</li>