<div class="card fcolumn fchild">
    <div class="card-body fcolumn fchild">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            {% for k,i in sourceMap.items() %}
            <li class="nav-item">
                <a class="nav-link {% if loop.index == 1 %} active {%endif%}"
                   id="sbrow-{{loop.index}}"
                   data-toggle="pill"
                   state="sourcemap"
                   role="tab"
                   href="#source-{{loop.index}}"
                   onclick="$('.tsb').hide(); $('#source-{{loop.index}}').show(); show_file_reader({{i.getVnVFileId()}},'{{i.url()}}','{{i.reader}}','source-browser',{'noload':true, 'highlightline':{{i.get_option('highlightline')|safe}}})"
                   aria-selected="true">{{k}}</a>
            </li>
            {% endfor %}

        </ul>

        <div class="tab-content fcolumn fchild " id="source-content">

            <div>
                <div class="card" style="float:right; top:20px; margin-top:50px; margin-right:3px; position:sticky; display:flex; flex-direction:column; ">

                    <button style="width=20px; height=20px; margin-bottom:10px;" type="button" class="btn btn-icon "
                            onclick="$('.modal:visible').modal('hide')"><i class="feather icon-x"></i></button>

                    <button style="width=20px; height=20px; margin-bottom:10px;" type="button" class="btn btn-icon "
                            onclick="scroll_line_into_view(1)"><i class="feather icon-chevrons-up"></i></button>

                    {% for k,v in sourceMap.items() %}

                    <button id="source-{{loop.index}}"
                            class = "btn  btn-icon tsb"
                            role="tabpanel"
                            style="{% if loop.index > 1 %} display:none; {%endif%} width=20px; height=20px; margin-bottom:10px;" type="button"
                            onclick="scroll_line_into_view({{v.get_option('highlightline')|safe}})">
                          <i class="feather icon-crosshair"></i>

                    </button>

                    {% endfor %}

                    <button style="width=20px; height=20px;" type="button" class="btn  btn-icon"
                            onclick="scroll_to_bottom()"><i class="feather icon-chevrons-down"></i></button>
                </div>

                <div id="source-browser">
                    {% for k,file in sourceMap.items() %}
                        {% if loop.index == 1 %}
                            {%with modal = "source-browser" %}
                            {%include 'files/browser.html' %}
                            {%endwith%}
                        {%endif%}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
