{%with
tablist = {
    "home": ["Injection","viewers/view.html", True],
    "workflow" : ["Workflow" , "files/workflow.html", file.hasWorkflow() ],
    "comm": ["Communication","files/comms.html", file.hasComm()],
    "packages": ["Packages" , "files/packages.html", True],
    "prov": ["Provenance","files/provenance.html", True],
    "unit": ["Unit Tests","files/unit_testing.html", file.hasUnitTests() ],
    "logs": ["Logs" , "files/logs.html", file.hasLogs() ],
    "data": ["Data Explorer" , "files/data.html", True],
    "browser" : ["File Browser", "files/file_browser.html", True]
}
%}

{%with active_tab = request.args.get("atab", "home") %}

<div id="tab-view-content" style="position:relative; max-width:1400px;">
{%if file.setupNow() %}
{% with actionFiles = file.getActions() %}


<div class=" fcolumn fchild">

        <div class="page-header-title">
            <div style="display:flex; align-items:center;">
                {%if file.isProcessing() %}
                <span id="processing_{{file.id_}}" class="badge badge-warning">Live</span>
                <script>
                    $(document).ready( function() {
                        update_processing({{file.id_}}, "#processing_{{file.id_}}")
                    });
                </script>
                {%endif%}
               <h1 contenteditable=true id="file_display_name" >{{file.dispName}}</h1>

            </div>
        </div>
        <script>

            document.getElementById("file_display_name").addEventListener("input", function() {

                $.post('/files/update_display_name/{{file.id_}}?new=' + encodeURIComponent($(this).html()), function(data) {
                    $('#file-display-name-side-{{file.id_}}').html(data)
                });
            }, false);

        </script>


        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            {% for tab in tablist %}
            {% if tablist[tab][2] %}
            <li class="nav-item">
                <a class="nav-link {% if active_tab == tab %} active {%endif %}" state="main-tab" id="pills-{{tab}}-tab" data-toggle="pill" href="#pills-{{tab}}" role="tab"
                   aria-controls="pills-{{tab}}" aria-selected="true">{{tablist[tab][0]}}</a>
            </li>
            {%endif%}
            {%endfor%}
            {% if actionFiles | length > 0 %}
            {% for action in actionFiles %}
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'action-{{action.id_}}' %} active {%endif %}" state="main-tab" id="pills-action-{{action.id_}}-tab" data-toggle="pill" href="#pills-action-{{action.id_}}" role="tab"
                   aria-controls="pills-action-{{action.id_}}" aria-selected="true">{{action.display_name}}</a>
            </li>
           {% endfor %}
           {%endif%}
        </ul>

        <div class="tab-content fcolumn fchild " id="pills-tabContent">
            {%for tab in tablist %}
            {% if tablist[tab][2] %}
            <div class="tab-pane fade {% if active_tab == tab %} show active {%endif%} finlinecolumn fchild" id="pills-{{tab}}" role="tabpanel"
                 aria-labelledby="pills-{{tab}}-tab">
                    {% include tablist[tab][1] %}
            </div>
            {%endif%}
            {%endfor%}
            {% if actionFiles | length > 0 %}
            {% for action in actionFiles %}
            <div class="tab-pane fade {% if active_tab == 'action-{{action.id_}}' %} show active {%endif%} finlinecolumn fchild" id="pills-action-{{action.id_}}" role="tabpanel"
                 aria-labelledby="pills-action-{{action.id_}}-tab">
                     {{ file.render_action(action.name) | safe }}
            </div>
           {% endfor %}
           {%endif%}

        </div>

</div>
{%endwith%}
{%else%}
    {% with listOptions = [
        "Loading Data",
        "Parsing the Data",
        "Processing Restructured Text",
        "Generating HTML Files",
        "This is taking a long time",
    ]%}
    <div style="width:100%; height:90vh; display:flex; flex-direction:column; justify-content:center; align-items:center;">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>

        {%if file.nospec() %}
            <h1 style="color:#12355f;">Searching for VnV Output Files in: {{file.filename}} </h1>
        {%else %}
            <h1 style="color:#12355f;">{{listOptions[count % ( listOptions | length )] }}</h1>
        {%endif%}

        {%if file.nospec() and count > 10 %}
        <ul style="float:left;width:100%; margin-top:40px; color:#12355f;"><h4>No Files Found.</h4>
                     <li style="margin-left:40px;"> <h6>Are you sure you entered the correct path?</h6>
                     <li style="margin-left:40px;"> <h6>Did you start the application?</h6> </li>
        </ul>

    {% endif %}

    </div>



    {%endwith%}

    <script>
       setTimeout(function() {
          $.get('{{url_for('base.files.view', id_=file.id_, full=False, count=count+1) | safe }}', function(data) {
              $('#tab-view-content').html(data)
          });
       }, 2000)
    </script>
{%endif%}
</div>

<script>

</script>

{%endwith%}
{%endwith%}
