<div>


    <div class="fcolumn fchild">
        <div class="fchild" style="display:flex; flex-direction:column">

            {% if file.hasUnitTests() %}
            <h1>Unit Testing Results</h1>
        <div class="card">
            <div id="unit-test-table" style="width:100%"></div>
        </div>
            <script>
              $(document).ready(function() {
                var table = new Tabulator("#unit-test-table", {
                    ajaxURL:"{{ url_for('base.files.viewers.unit_table', id_=file.id_)}}",
                    dataTree:true,
                    width: "100%",
                    layout:"fitDataStretch",
                    dataTreeStartExpanded:true,
                    rowClick: function(e,row) {
                      var url = "{{url_for('base.files.viewers.unit',id_=file.id_)}}"
                      url += "?uid=" + row.getData().id
                      url += "&uuid=" + row.getData().name
                      $.get( url, function(data) {
                        $('#unit-testing-content').html(data)
                      });
                    },
                    columns:[
                        {title:"Name", field:"name", responsive:0},
                        {title:"Result", field:"result", hozAlign:"center", formatter:"tickCross", sorter:"boolean"},
                        {title:"Description", field:"description"}
                    ],

                });



              });


            </script>
            <div id="unit-testing-content" class="card" style="margin-top:30px;">

            </div>
            {% else %}
            <h4>No Unit Testing was completed during this execution. </h4>
            {% endif %}
        </div>
    </div>
    <script>

    </script>

</div>