{%with workflowRender = file.getWorkflowRender() %}
<div class="">


    <div class="fchild " style="padding:15px;    border: 1px solid #80808038; ">
        {%with creators = workflowRender.getWorkflowCreators() %}

        <ul class="nav nav-pills mb-3" id="pills-creators-tab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active " id="pills-main-workflow-tab"
                   state="workflow" data-toggle="pill" href="#pills-main-workflow" role="tab"
                   aria-controls="pills-main-workflow" aria-selected="true">Workflow</a>
            </li>

            {% for creator in creators %}
            <li class="nav-item">
                <a class="nav-link " id="pills-creator-{{loop.index}}-tab"
                   state="workflow" data-toggle="pill" href="#pills-creator-{{loop.index}}" role="tab"
                   aria-controls="pills-creator-{{loop.index}}" aria-selected="true">{{creator.name}}</a>
            </li>
            {%endfor%}
        </ul>

        <div class="tab-content fcolumn fchild " id="pills-creator-tabContent">

            <div class="tab-pane fade show active finlinecolumn fchild"
                 id="pills-main-workflow" role="tabpanel"
                 aria-labelledby="pills-main-workflow-tab">

                <div class="card" style="width:100%">
                    <h2 class="nodeTitle" style="text-align:center">Application Workflow</h2>
                    <div id="workflowGraph" style="flex:1"></div>
                    <div id="nodeInformation" class="nodeInformation" style="display:none; padding:20px;"></div>
                </div>
            </div>


            {%for creator in creators %}
            <div class="tab-pane fade  finlinecolumn fchild"
                 id="pills-creator-{{loop.index}}" role="tabpanel"
                 aria-labelledby="pills-creator-{{loop.index}}-tab">

                <div class="card injection_test" style="padding:20px;">
                    <div style="display:flex; align-items:center ">
                        <h1 style="flex:1"> VnV Job Creator: {{creator.name}} </h1>
                        <a href="#!"
                           onclick="show_workflow_rst_editor({{workflowRender.getFile()}} , {{workflowRender.getId() }}, '{{creator.name}}'  )"
                           class="badge badge-success" style="margin-left:10px">RST</a>
                        <a href="#!"
                           onclick="show_data_explorer({{workflowRender.getFile()}}, {{workflowRender.getId()}})"
                           class="badge badge-info" style="margin-left:10px" ;>Data Explorer</a>
                    </div>
                    <div class="iscale">
                        {{ creator.html | safe}}
                    </div>
                    {% for job in creator.jobs %}
                    <div class="card injection_test" style="padding:20px;">
                        <div style="display:flex; align-items:center ">
                            <h1 style="flex:1"> VnV Job Creator: {{job.name}} </h1>
                            <a href="#!"
                               onclick="show_workflow_rst_editor({{workflowRender.getFile()}} , {{workflowRender.getId() }}, '{{creator.name}}' , '{{job.name}}' )"
                               class="badge badge-success" style="margin-left:10px">RST</a>
                        </div>
                        <div class="iscale">
                            {{ job.html | safe }}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            {%endfor%}

        </div>

        {%endwith%}

    </div>

</div>

<script>
$(document).ready(function(){

    const sizeMap = {
        "MainApplication" : 100,
        "Job" : 80,
        "VnVReport" : 60,
        "File" : 50,
        "JobDependency" : 30,
        "SuccessValidation" : 40,
        "ValidationFailure" : 30,
        "ValidationSuccess" : 30,
        "ValidationPending" : 30,
        "FileStaging" : 30
    }
    function getSize(t) {
        return 20 * (sizeMap[t]|| 20) / 100;
    }

    const wData = {{workflowRender.getWorkflowGraph() | safe }}

    wcontainer = document.getElementById('workflowGraph')
    const wGraph = ForceGraph()(wcontainer)
        .cooldownTicks(100)
        .width(600).height(1000)
        .graphData(wData)
        .nodeLabel("id")
        .linkDirectionalParticles(3)
        .nodeAutoColorBy("type")
        .onNodeHover(function(node,prevNode) {
          if (node && node["type"] === "Job") {
             c = "?creator=" + node.value.creator
             c += "&name=" + encodeURIComponent(node.value.name)
             c += "&code=" + encodeURIComponent(node.value.code)
             $.get('/files/workflow/render_job/' + {{file.id_}} + c , function (data) {
                $('#nodeInformation').html(data)
                $('#nodeInformation').show()
             });

          } else {
            $('#nodeInformation').hide()
          }
        })

        .nodeCanvasObject( (node, ctx, gScale) => {
            if ( node["img"] == undefined ) {
                node["img"] = new Image();
                node["img"].src = "/files/workflow/node_image/" + node["type"];
            }
            const size = getSize(node["type"])
            ctx.drawImage(node["img"], node.x - size / 2, node.y - size / 2, size, size);

        })
        .nodePointerAreaPaint((node, color, ctx) => {
          const size = getSize(node["type"]);
          ctx.fillStyle = color;
          ctx.fillRect(node.x - size / 2, node.y - size / 2, size, size); // draw square as pointer trap
        })


    wonce = false;
    wGraph.onEngineStop(() => { if (!wonce) { wGraph.zoomToFit(400,100); wonce = true;} });
    elementResizeDetectorMaker().listenTo(
       wcontainer,
       el => {wGraph.width(el.offsetWidth); wGraph.zoomToFit(400,100);}
    );

});




</script>

{% endwith %}