{% with strip = request.args.get("strip"), processor = request.args.get("processor","0")  %}

<div class="card">
    <div class="card-header">
        <h5>Realtime Chart</h5>
    </div>

    <div class="card-body">
        <div id="realtime-chart"></div>
        <div id="brush-chart"></div>

    </div>

</div>

<script>

  $(function() {
            var lastDate = 0;
            var data = [];
            var ddata = [];
            var ids = [];
            var pause = false;
            var running = false;
            var depth = {}
            var lastD = -1
            var lastDx = -1
            var overall = -1;
            var time = []
            var dtime = []
            var selectedNode = 0
            barH = 50

            function totalHeight(depth) {
               r = depth*barH + 30
               return r.toString() + "px"
            }

            function getNewSeries(baseval, yrange) {


                var url = '{{url_for('base.files.viewers.next', id_=file.id_, count=10 )}}'
                $.get(  url , function(dd) {
                    overall = dd['endtime'];
                    var r = dd['data']

                    if (ddata.length > 0 ) {
                        lastDx = ddata[ddata.length-1].x
                    }

                    r.forEach(function (item, index) {

                       if ("restart" in item) {
                          data = []
                          ddata = []
                          depth = {}
                          lastD = -1;
                          lastDx = -1
                       }

                       del = []



                       // Did we step down
                       down = item.y < lastD
                       lastD = item.y


                       for (const [key, value] of Object.entries(depth)) {

                          if (item.y > key ) {

                              data[value].y[1] = item.x+1
                              if (data[value].endtime < 0 ) {
                                data[value].endtime = overall;
                              }
                          } else if (item.y == key ) {
                              if (item.id < 0 ) {
                                 data[value].y[1] = item.x + 1
                                 data[value].endtime = item.endtime
                              } else if ( data[value].id === item.id ) {
                                 data[value].y[1] = item.x+1
                                 data[value].endtime = item.endtime
                              } else {

                                   data.push( {
                                     x : String(key) ,
                                     y : [ item.x, item.x+1 ],
                                     id : item.id,
                                     title: item.title,
                                     starttime : item.starttime,
                                     endtime : item.endtime,
                                     wait : item.wait
                                   })
                                   depth[key] = data.length - 1
                              }
                          } else {

                            del.push(key)

                          }
                       }
                       del.forEach(function(d,di) { delete depth[d]; })

                       if (! (item.y in depth) ) {
                             data.push( {
                                 x : String(item.y) ,
                                 y : [ item.x, item.x + 1 ],
                                 id : item.id,
                                 starttime : item.starttime,
                                 endtime : item.endtime,
                                 wait : item.wait,
                                 title: item.title
                              })
                              depth[item.y] = data.length - 1
                       }

                       d =  Object.keys(depth).length;
                       ddata.push( { x: item.x , y: d } )

                       if (item.id == -101) {
                           ddata.push({ x:ddata[ddata.length-1].x + 1 , y:1})
                       }



                    });

                    if (r.length > 0 ) {

                         // update time
                         time = []
                         data.forEach(function(value,index) {
                            time.push({x : value.y[0], y : value.starttime})
                            time.push({x : value.y[1], y : value.endtime})
                         });
                         time.sort(function(a, b) {
                              if (a.x < b.x) return -1;
                              if (a.x > b.x) return 1;
                              return 0;
                         });

                         time.forEach(function(value,index) {
                            if (index==0) {
                               dtime.push({x : value.x , y : 0})
                            } else {
                               dtime.push({x : value.x , y : value.y - time[index-1].y})
                            }
                         });


                        chart.updateSeries([{name: "Injection Point", data:data}])
                        chart1.updateSeries([{type:'area', name: "depth", data:ddata}, {type: 'line', "name" : "time" , data: time} ])
                        updateBrush(ddata[0].x, ddata[ddata.length -1].x, lastDx )
                    }
                    if ( ( r.length == 0 || !("done" in r[r.length -1]) ) ){
                         chartInterval = window.setTimeout(getDataFromServer,3000)
                    }
                });
            }

            options = {
                series: [
                    {
                        name: "Injection Point",
                        data: []
                    }
                ],
                chart: {
                    type: "rangeBar",
                    id : "chart2",
                    events: {
                         dataPointSelection: function(event, chartContext, config) {
                               try {
                                updateIpState(data[config.dataPointIndex].id , {{file.id_}} )
                                selectedNode = config.dataPointIndex;
                                chart.updateOptions({})
                               } catch (error) {
                                    console.log("error")
                               }
                         }
                    },
                    height : totalHeight(3)
                },
                colors: [
                    function ({ value, seriesIndex, dataPointIndex, w }) {
                      return getColorAsScalar(dataPointIndex, dataPointIndex == selectedNode);
                    }
                ],
                tooltip: {
                    custom : function (opt) {
                        d = data[opt.dataPointIndex]
                        var url = '{{url_for('base.files.viewers.render_label', id_=file.id_)}}'
                        url += "?ipid=" + data[opt.dataPointIndex].id

                        var a = window.sessionStorage.getItem(url,data)
                        if (!a) {

                            $.get(  url , function( data ) {
                                window.sessionStorage.setItem(url,data)
                                $(`#tooltip-${opt.dataPointIndex}`).html(data)
                            });
                            return `<div id="tooltip-${opt.dataPointIndex}" class="label-container">
                                 Loading...
                            </div>`

                        } else {
                            return `<div id="tooltip-${opt.dataPointIndex}" class="label-container">
                                 ${a}
                             </div>`
                        }
                    },
                    fixed: {
                        enabled: false, position: "topLeft"
                    }
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        barHeight : barH.toString() + "px",
                        dataLabels: {
                           position: "top"
                        }
                    }
                },
                dataLabels : {
                   enabled : true,
                   formatter: function(val, opt) {
                      var x = data[opt.dataPointIndex]
                      return x.title + "  "
                   },
                   "textAnchor" : "end"
                },
                xaxis: {
                    type: "datetime",
                    "labels" : { "show" : false }
                },
                yaxis: {
                    "labels" : { "show" : false }
                }
            };


            var optionsLine = {
                       series: [ { name: "depth" , data: ddata, type: 'area' }, { type: 'line', name: "time" , data: [] }, { type: 'line', name: "dt" , data: [] }],
                       chart: {
                                      id: 'chart1',
                                      height: 200,
                                      brush:{
                                            target: 'chart2',
                                            enabled: true
                                       },
                                       selection: {
                                            enabled: true,
                                            xaxis: {min: -100, max: 100}
                                       }
                                },

                       colors: ['#008FFB','#FF0000','#FF0000'],
                       fill: {
                                  type: 'gradient',
                                    gradient: {
                                        opacityFrom: 0.91,
                                        opacityTo: 0.7,
                                    }
                                },
                        stroke: {
                             curve: ['stepline','straight','straight'],
                             width: [2, 5,5]
                        },
                        markers: {
                            size: [0 , 4 , 4],
                            colors: ['#008FFB','#FF0000', '#FF0000']
                       },
                       tooltip : {
                        enabled: true,
                        x : {
                            formatter : function (e) { return " Injection Point Info " }
                        },
                        y : {

                        }
                       },
                       xaxis: {
                                        type: 'datetime',
                                        tooltip: { enabled: true }
                                },
                       yaxis: [{
                                  tickAmount: 2,
                                  min:0,
                                  show: false,
                                  seriesName: "depth"
                                },{
                                    show: false,
                                    opposite: true,
                                    seriesName : "time",
                                    tickAmount: 2,
                                    min : function(e) {
                                      if (time.length == 0 ) return 0;
                                      return time[0].y  ;
                                    },
                                    max : function(e) {
                                        if (time.length == 0 ) return 1;
                                        return time[time.length-1].y;
                                    }
                                },
                                {
                                    show: false,
                                    opposite: true,
                                    seriesName : "dt",
                                    tickAmount: 2,
                                    min : function(e) {
                                      if (dtime.length == 0 ) return 0;
                                      return dtime[0].y  ;
                                    },
                                    max : function(e) {
                                        if (dtime.length == 0 ) return 1;
                                        return dtime[dtime.length-1].y;
                                    }
                                }]

            };


            var chart = new ApexCharts(document.querySelector("#realtime-chart"), options);
            var chart1 = new ApexCharts(document.querySelector("#brush-chart"), optionsLine);
            chart.render();
            chart1.render();

            function updateBrush(min, max, lastD ){
                cmin = chart1.opts.chart.selection.xaxis.min
                cmax = chart1.opts.chart.selection.xaxis.max

                xopt = {}
                if ( cmin < min ) {
                    xopt["min"] = min
                }
                if ( cmax > max ) {
                    xopt["max"] = max
                }
                if (lastD == cmax ) {
                     xopt["max"] = max
                }


                opt = { chart : { selection : { xaxis : xopt } } }
                chart1.updateOptions(opt)
            }

            function getColorAsScalar(index, selected) {
                if (data.length > index ) {
                    var l = 50;
                    if (selected) { l = 80 }

                    var n = 240 * ( data[index].endtime - data[index].starttime ) / ( data[0].endtime - data[0].starttime )
                    return 'hsl(' + n + ', 100%, ' + l +'%)';
                }
                return "rgb(10,10,10)"
            }

            var dataPointsLength = 10;
            function getDataFromServer() {
                if (!pause) {
                  getNewSeries(lastDate, {
                     min: 10,
                     max: 90
                  })
                }
            }

            if (typeof variable !== 'undefined') {
               clearInterval(chartInterval)
            }
            getDataFromServer()

        });


</script>

{%endwith%}