

<div style="padding:10px; background: lightgrey;">
    <div class="lheader" style="font-size:15px; display:flex;">
        <span class="lheader" style="font-size:16px; flex:1"> Injection Point </span>
        <i class="feather icon-refresh-cw" onclick="alert('todo')"></i>
    </div>
    <div> <span class="lheader">ID:</span> {{iprender.getId()}}</div>
    <div> <span class="lheader">Package:</span> {{iprender.getPackage()}}</div>
    <div> <span class="lheader">Name:</span> {{iprender.getName()}}</div>
    <div> <span class="lheader">Status:</span> {{iprender.getStatus()}}</div>

    <div> {{ iprender.getDescription() }} </div>
</div>

