{% with strip = request.args.get("strip"), processor = request.args.get("processor","0")  %}
<h3>Injection Points</h3>
<div id="treeLoading">Loading...</div>
<div id="treeview1" class="treeview"></div>

<script>

  $(function() {
            var data = []
            var current = [data]


            function getCurrent() {
                return current[current.length - 1]
            }
            function popCurrent() {
                current.pop()
            }
            function pushCurrent(d) {
                current.push(d)
            }

            function getNewSeries() {

                var url = '{{url_for('base.files.viewers.next', id_=file.id_, count=10 )}}'
                $.get(  url , function(dd) {
                    $('#treeLoading').toggle(false);
                    var r = dd['data']
                    r.forEach(function (item, index) {

                       if (item.type == "end") {
                          popCurrent()
                       } else if (item.type == "start") {
                            d = { "text" : item.title , "id" : item.id, "children" : [], "state" : { "opened" : true } }
                            if (item["package"]) {
                                d["icon"] = "letter letter-" + item["package"][0].toUpperCase()
                            }
                            getCurrent().push(d)
                            pushCurrent(d["children"])
                       } else if (item.type == "point") {
                           d = { "text" : item.title , "children" : [] }
                           getCurrent().push(d)
                       }
                    });
                    if (data.length > 0 ) {
                         $('#treeview1').jstree({core: { data : data } });

                    }
                    if ( ( r.length == 0 || !("done" in r[r.length -1]) ) ){

                         chartInterval = window.setTimeout(getNewSeries,3000)
                    }

                });
            }
            $(document).ready(function() {
                getNewSeries()
                $('#treeview1').on("select_node.jstree", function (e, data) {
                    updateIpState(data.node.id , {{file.id_}} )
                });
            });

        });


</script>

{%endwith%}