<li class="nav-item pcoded-hasmenu">

    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file"></i></span><span
            class="pcoded-mtext">Example Menu</span>
    </a>

    <ul class="pcoded-submenu" id="files_list">
        <li >
            <a onclick="render_in_main_view('{{ get_template_file('link1.html')}}')" href="#!">Link Number 1</a>
        </li>
        <li >
            <a onclick="render_in_main_view('{{ get_template_file('link2.html')}}')" href="#!">Link Number 2</a>
        </li>
    </ul>

</li>

