
<div class="card" style="padding:20px; height:100%">

    <div style="position:relative; align-items:center; margin-bottom:30px;">
        <h2 style="flex:1">{{iprender.getTitle() | safe }}</h2>
        <div class="card" style="display:flex; flex-direction:row;  position:absolute; top:calc(50% - 16px); right:10px;">
            {% if iprender.getLogs() | length %}
            <a href="#!" onclick="$('#log-modal').modal('toggle')" class="vnvh badge badge-success"
               style="margin-left:10px; display:none">Logs</a>
            {%endif%}
            <a id='ipprocessing-{{iprender.getId()}}' href="#!" onclick="" class="vnvh badge badge-success"
               style="margin-left:10px;display:none"
               ;>{{iprender.getStatus()}}</a>
            <a href="#!" onclick="$('#comm-modal').modal('toggle')" class="vnvh badge badge-success"
               style="margin-left:10px; display:none" ;>Communication
                Map </a>
            <a href="#!"
               onclick="show_ip_rst_editor({{iprender.getFile()}}, {{iprender.getId()}}, {{iprender.getInternalTest().getData().getId()}} )"
               class="vnvh badge badge-success" style="margin-left:10px;display:none;"
               ;>RST</a>
            <a href="#!" onclick="$('#source-modal').modal('toggle')" class="vnvh badge badge-info"
               style="margin-left:10px;display:none" ;>Source
                Code</a>
            <a href="#!" onclick="show_data_explorer({{iprender.getFile()}}, {{iprender.getId()}})"
               class="vnvh badge badge-info"
               style="margin-left:10px;display:none" ;>Data
                Explorer</a>
            <a href="#!" onclick="$('#internal_render').toggle(300)" class="vnvh badge badge-info"
               style="margin-left:10px;display:none">+/-</a>

            <a href="#!" onclick="$('.vnvh').toggle(300)" class="badge badge-info" style="margin:10px;"><</a>

        </div>
        <script>
        setTimeout(function() {
              update_ip_processing("ipprocessing-{{iprender.getId()}}", {{iprender.getFile()}},{{iprender.getId()}})
        }, 3000 )





        </script>
    </div>

    {%include "viewers/request.html"%}

    <div id="internal_render">
        {% with testrender = iprender.getInternalTest() %}
        {%include 'viewers/test.html' %}
        {% endwith %}
    </div>

    {% if iprender.getAdditionalTests() | length > 0 %}
    <hr style="border: 1px solid #e0e0e3;width: 95%;margin-bottom: 30px;">
    <div class="injection-tests">

        {% for testrender in iprender.getAdditionalTests() %}
        <div class="card injection_test" style="padding:20px;">

            <div style="position:relative; align-items:center ">
                <h3 style="flex:1; margin-bottom:30px;"> {{ testrender.getTitle() | safe }} </h3>
                <div class="card" style="display:flex; flex-direction:row;  position:absolute; top:calc(50% - 16px); right:10px;">

                {% if testrender.getLogs() | length %}
                <a href="#!"
                   onclick="$('#test-log-modal-{{testrender.getId()}}').modal('toggle')"
                   class="vnvhg badge badge-success" style="margin-left:10px; display:none;">Logs</a>
                {%endif%}

                <a href="#!"
                   onclick="show_ip_rst_editor({{iprender.getFile()}}, {{testrender.getId()}} , {{testrender.getData().getId()}} )"
                   class="vnvhg badge badge-success" style="margin-left:10px; display:none;">RST</a>
                <a href="#!" onclick="show_data_explorer({{iprender.getFile()}}, {{testrender.getId()}})"
                   class="vnvhg badge badge-info" style="margin-left:10px; display:none;" ;>Data Explorer</a>
                <a href="#!" onclick="$('#render-{{loop.index}}').toggle(300)" class="vnvhg badge badge-info"
                   style="margin-left:10px; display:none;" ;>+/-</a>


                 <a href="#!" onclick="$('.vnvhg').toggle(300)" class="badge badge-info" style="margin:10px;"><</a>

                </div>
            </div>
            <div id="render-{{loop.index}}" class="iscale">
                {%include 'viewers/test.html' %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}

</div>


{% if iprender.getLogs() | length %}
<div id="log-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="comm-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="log-modal-label">Injection Point Logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="log-modal-body">
                {% for logRender in iprender.getLogs() %}
                    {%include "files/log.html"%}
                {% endfor%}
            </div>
        </div>
    </div>
</div>
{%endif%}


<div id="comm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="comm-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comm-modal-label">Injection Point Communication Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="comm-modal-body">
                {% with commrender = iprender.getCommRender() %}
                {%include 'files/comm.html' %}
                {%endwith%}
            </div>
        </div>
    </div>
</div>


<div id="source-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="source-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="source-modal-label">Injection Point Source</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="source-modal-body">
                {%with sourceMap = iprender.getSourceMap() %}
                {%include 'files/sourcemap.html'%}
                {%endwith%}
            </div>
        </div>
    </div>
</div>


<script>


</script>
