{% with injection_element = "injection-element", view = request.args.get("viewer","processor") %}

<div id="view-header" class=""
    style="display:flex; align-items:center;  ">

    <h2 class="fchild">{%include view + "/title.html" %}</h2>

    <div class="" style="display:flex; flex-direction:row; ">
        <div class="btn-group mb-2 mr-2">
            <button class="btn  btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">{{view}}
            </button>
            <div class="dropdown-menu">
                {%for v in viewers%}
                <a class="dropdown-item" href="{{url_for('base.files.view', id_=file.id_, viewer=v)}}">
                    {%if v == view%} <i class="feather icon-check"></i> {%endif%} {{v}}
                </a>
                {%endfor%}
            </div>
        </div>
        {%include view + "/menu.html" %}
    </div>
</div>

<div id="view-view" style="position:relative">


    <div id="view-chart">
        {%include view + "/chart.html" %}
    </div>


    <div id="{{injection_element |safe }}">
        {{ file.get_introduction() | safe }}
    </div>

</div>

{%endwith%}
