<div style="display: flex">

    <h6 style="flex:1"> {{prefix}} {{ file.getName() }} ({{file.getSize()}} Bytes)</h6>
    {% if file.modified() %}
    <p  class="badge badge-warning" title="The file has been modified since this report was created">Modified</p>
    {% else %}
    <p class="badge badge-success" title="The file has not been changed since the report was created">Up to date</a>
    {% endif %}
    {%if file.readable() %}
    <a href="#!" onclick='show_file_reader({{file.getVnVFileId()}},"{{file.getUrl()}}","{{file.reader()}}","")' class="badge badge-info"
       style="margin-left:10px" ;>View</a>
    {% endif %}


</div>
<div>
    {{ file.getDescription() | safe }}
</div>
