<div style="display: flex">

    <h6 style="flex:1"> {{prefix}} {{ file.getName() }} ({{file.getSize()}} Bytes)</h6>
    {% if file.modified() %}
    <a href="#!" class="badge badge-warning">Modified</a>
    {% else %}
    <a href="#!" class="badge badge-success">Up to date</a>
    {% endif %}
    {%if file.readable() %}
    <a href="#!" onclick='show_file_reader("{{file.getUrl()}}","{{file.reader()}}")' class="badge badge-info"
       style="margin-left:10px" ;>View</a>
    {% endif %}


</div>
<div>
    {{ file.getDescription() | safe }}
</div>
