<div class="fchild" style="display:flex;">
    <div class="card fchild col-sm-2" style="padding-top:10px; ">

        {% for package in file.getPackages() %}
        <div class="card {%if loop.index0 == 0 %} prov-selected {%endif%}" id={{package.name}}
             onclick="switch_package({{file.id_}},'{{package.name}}','#package-content')"
             style="display:flex; align-items:center; margin-bottom:10px; justify-content:center;padding:10px;">
            <h6 style="margin:0">{{package.name}}</h6>
        </div>

        {% endfor %}

    </div>

    <div class="col-sm-10 card" id="package-content" style=" flex:1; margin-left:10px; padding:20px">
        {{ file.getFirstPackage() | safe }}
    </div>

</div>