<div style="padding:15px;">
    <div style="display:flex; align-items:center;">

        <h2 style="flex:1">PSIP Application Dashboard</h2>
        {% if not readonly %}
            <button class="btn btn-primary" onclick="toggle_psip({{file.id_}})" id="psip_enabled_btn">{%if file.psip_enabled %}Disable {%else%}Enable {%endif%} PSIP</button>
        {%endif%}
    </div>
  <div id="show_psip_view">
    <div>
        <p>Software engineering is a systematic approach to the design, development, and maintenance of a software
            system. Teams seldom have the time to stop development and focus solely on improving productivity or
            sustainability. However, teams can incorporate improvements on the way to developing new science
            capabilities.</p>
    </div>

    <div class="" style="border:1px solid #80808038; padding:14px;">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active " state="psip" id="psip-sa-tab" data-toggle="pill" href="#psip-sa" role="tab"
                   aria-controls="psip-sa" aria-selected="true">Self Assessment </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="psip-ptc-tab" state="psip" data-toggle="pill" href="#psip-ptc" role="tab"
                   aria-controls="psip-ptc" aria-selected="true">Progress Tracking Cards</a>
            </li>
        </ul>

        <div class="tab-content fcolumn fchild " id="psip-tabContent" >

            <div class="tab-pane fade show active finlinecolumn fchild" id="psip-sa" role="tabpanel"
                 aria-labelledby="pills-sa-tab">
                <h2>Self Assessment</h2>
                <p>The self-assessment introduces software engineering practices that increase in maturity. Check the
                    practices that your project already uses to rate your project.</p>

                <div style="display:flex; justify-content: padding:20px;">

                    <div class="card"
                         style="display:flex; flex-direction: column; margin:10px; padding:20px;width:100%;">

                        <div style="display:flex">
                             <h2 style="flex:1; text-align:center;" id="">Overall Performance</h2>
                             <i class="feather icon-edit" style="padding:10px; cursor:pointer;" onclick="edit_psip_raw()" ></i>
                        </div>

                        <p id="psip_description">
                            The assessment section is used to estimate the degree to which software engineering
                            practices are currently being used by your project.
                            The diagram below shows how your project is progressing in all practice areas.
                        </p>

                        <div style="flex:1; display:flex; align-items:center;">
                            <div id="radar-overall"></div>
                        </div>
                    </div>
                    <div class="card"
                         style="display:flex; flex-direction: column; margin:10px; padding:20px;width:100%;">
                        <div style="display:flex">
                            <i class="feather icon-chevron-left" style="padding:10px; cursor:pointer;"
                              onclick="decrease_state()" ></i>
                            <h2 style="flex:1; text-align:center;" id="selection_title"></h2>
                            <i class="feather icon-chevron-right" style="padding:10px; cursor:pointer;"
                               onclick="increase_state()" ></i>
                        </div>
                        <p id="selection_description"></p>
                        <div style="flex:1; display:flex; align-items:center;">
                            <div id="radar-selected" style="flex:1;"></div>
                        </div>
                    </div>
                    <div class="card" id="selected-selected" style="padding:20px; margin:10px; width:100%;">
                        <div style="display:flex">
                            <i class="feather icon-chevron-left" style="padding:10px; cursor:pointer;"
                                 onclick="decrease_process_state()" ></i>
                            <h2 style="flex:1; text-align:center;" id="process_title"></h2>
                            <i class="feather icon-chevron-right" style="padding:10px; cursor:pointer;"
                                onclick="increase_process_state()" ></i>
                        </div>
                        <p id="process_description"></p>

                        <div class="container" style="padding:15px">
                            <div class="process" id="process_none" style="display:flex; margin:10px;"
                                  {%if not readonly %} onclick="change_state(0)"  {%endif%}>
                                <div class="process_button none">
                                    1
                                </div>
                                <div class="process_desc" id="none_desc" style="flex:1"></div>
                            </div>
                            <div class="process row" id="process_basic" style="display:flex; margin:10px;"
                                  {%if not readonly %} onclick="change_state(1)"  {%endif%}>
                                <div class="process_button basic">
                                    2
                                </div>
                                <div class="col-8 process_desc" id="basic_desc" style="flex:1"></div>
                            </div>
                            <div class="process row " id="process_inter" style="display:flex; margin:10px;"
                                  {%if not readonly %} onclick="change_state(2)"  {%endif%}>
                                <div class="process_button inter">
                                    3
                                </div>
                                <div class="process_desc" id="inter_desc" style="flex:1"></div>
                            </div>
                            <div class="process" id="process_adv" class="card_hover" style="display:flex; margin:10px;"
                                  {%if not readonly %} onclick="change_state(3)" {%endif%}>
                                <div class="process_button adv ">
                                    4
                                </div>
                                <div class="process_desc" id="adv_desc" style="flex:1"></div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade finlinecolumn fchild" id="psip-ptc" role="tabpanel"
                 aria-labelledby="pills-sa-tab">
                <div style="display:flex; ">
                    <h2 style="flex:1">Progress Tracking Cards</h2>

                </div>

                <p>Project Tracking Cards let your team track their process improvement journey</p>
                <p>Click on the bars to view the details about each tracking card. </p>

                <div class="container" style="display:flex; width:100%; max-width:100%">
                    <div class="row" style="width:100%; justify-content:space-around; display:flex;">
                        <div class="card col-6" style="" id="gchart"></div>
                        <div class="col-1" style=""></div>
                        <div class="col-5" style="display:flex; justify-content:center;" id="gcard">

                            <div class="card card_hover" style="width:600px;">
                                <div class="card-body" style="height:100%">
                                    <div style="display:flex; "><h5 class="gcard-title" style="flex:1"></h5>
                                        {% if not readonly %}
                                        <i class="feather icon-plus" style="padding:10px; cursor:pointer;"
                                           onclick="new_selected()"></i>
                                        <i class="feather icon-edit" style="padding:10px; cursor:pointer;"
                                           onclick="edit_selected()"></i>
                                        <i class="feather icon-x" style="padding:10px; cursor:pointer;"
                                           onclick="delete_selected()"></i>
                                        {%endif%}
                                    </div>
                                    <h6 class="gcard-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <div id="gcard-scores" style="margin-top:20px; margin-left:10px; ">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
  </div>

</div>
{% if not readonly %}
<div id="edit-ptc-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Progress Tracking Card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ptc-modal-body">
                <form>
                    <div class="form-group">
                        <label>Process</label>
                        <input id="ptc-process" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ptc-target">Example textarea</label>
                        <textarea class="form-control" id="ptc-target" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ptc-goal-0">Goal 0</label>
                        <input id="ptc-goal-0" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ptc-goal-1">Goal 1</label>
                        <input id="ptc-goal-1" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ptc-goal-2">Goal 2</label>
                        <input id="ptc-goal-2" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ptc-goal-3">Goal 3</label>
                        <input id="ptc-goal-3" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ptc-goal-4">Goal 4</label>
                        <input id="ptc-goal-4" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ptc-goal-5">Goal 5</label>
                        <input id="ptc-goal-5" type="text" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="save-ptc" class="btn btn-primary event-btn m-2" type="button" onclick="ptc_modal_save()">
                    <span class="btn-text" style="">Submit</span>
                </button>
            </div>
        </div>
    </div>
</div>
{%endif%}

<script src="/static/assets/js/inputfiles/psip.js"></script>
{% if not readonly %}
<script> set_psip_readonly(false); </script>
{%endif%}
