{%with connection = file.connection %}


<div style="display:flex; align-items:center; margin-bottom:15px;">
    <h2 style="flex:1">Application Configuration</h2>
    <button id="exec_help" class="btn btn-primary" style="margin-left:10px"
            onclick='show_help_modal("inputconfig")'>Help
    </button>
    <button id="exec_save" class="btn btn-primary input-save-button" style="margin-left:10px"
            onclick="save_input_config({{file.id_}}, $('#input-configuration-form'))">Save
    </button>

</div>

<form id="input-configuration-form" method="post" action="/inputfiles/configure/{{file.id_}}">

    <div class="form-group" style="position:relative">
        <label for="inputfile_application">Application</label>
        <input name="application" type="text" class="autocomplete form-control" id="inputfile_application"
               placeholder="Enter Path to application" value="{{file.filename}}">

        <script>
            $(document).ready(function(){
               autocomplete(document.getElementById('inputfile_application'), function() {
                        return "&file={{file.id_}}&context=inputfile";
               },"/inputfiles")
            })
        </script>

    </div>


    <div class="form-group">
        <label for="specDump">Command required to extract application schema.</label>
        <input name="specDump" type="text" class="form-control" id="specDump" value="{{file.specDump}}">
        <small>This should be the command required to run the application with an input file called ${inputfile}. We
            will substitute the value
            of ${application} with the file path configured above. The value %{inputfile} will be substituted with a
            path to a temporary file that
            we upload to the remote machine (the temp file path is created using the bash "mktemp" command)
        </small>
    </div>

    <div id="connection_information">

        <div class="form-group form-check">
            <input name="local" type="checkbox" class="form-check-input" id="clh" {%if
                   connection.local()
                   %}checked {%endif%}>
            <label class="form-check-label" for="clh">Files are accessible from the web
                server.</label>
        </div>
        <div id="remote_conn_info" style="{%if connection.local()%} display:none; {%endif%}">
            <div class="form-group">
                <label for="cun">Username</label>
                <input name="username" type="text"
                       class="form-control"
                       id="cun" placeholder="Enter Username"
                       value="{{connection.username()}}">
            </div>
            <div class="form-group">
                <label for="cd">Domain</label>
                <input name="domain" type="text"
                       class="form-control"
                       id="cd" placeholder="Enter Domain name"
                       value="{{connection.domain()}}">
            </div>
            <div class="form-group">
                <label for="cp">Port</label>
                <input name="port" type="number" min="0"
                       class="form-control" id="cp" placeholder="Enter SSH Port Number"
                       value="{{connection.port()}}">
            </div>

            <div class="form-group">
                <label for="cpa">Password</label>
                <input name="password" type="password"
                       class="form-control"
                       id="cpa" placeholder="Enter your password" value="">
            </div>
        </div>
    </div>
</form>

{%endwith%}

<h2>Application Information</h2>
<div class="card" style="padding:20px;">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

        <li class="nav-item">
            <a class="nav-link active" state="main-tab" id="config-desc-tab"
               data-toggle="pill" href="#config-desc" role="tab"
               aria-controls="config-desc" aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="config-spec-tab"
               data-toggle="pill" href="#config-spec" role="tab"
               aria-controls="config-spec" aria-selected="true">Specification</a>
        </li>

    </ul>

    <div class="tab-content fcolumn fchild " id="config-tabContent">

        <div class="tab-pane fade show active finlinecolumn fchild" id="config-desc"
             role="tabpanel" aria-labelledby="config-desc-tab">

            <div id="main_desc">{{file.get_executable_description()|safe}}</div>

        </div>
        <div class="tab-pane fade finlinecolumn fchild" id="config-spec"
             role="tabpanel" aria-labelledby="config-spec-tab">
            <div id="specFile" style="font-size:20px; height:1050px; width:100%; ">{{file.spec}}</div>
        </div>

    </div>
</div>
<script>

$( document ).ready(function(){
    get_ace_editor({{file.id_}}, "specFile","json", false)
    ace.edit("specFile").setReadOnly(true)
});

$(document).ready(function() {

    $('#clh').change(function(){
            $('#remote_conn_info').toggle(800)
    });

});







</script>