{%with connection = file.connection %}

<div class="modal-header">
    <h5 class="modal-title" id="config_file_modal_label">Configure Input File</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form id="input-configuration-form" method="post" action="/inputfiles/configure/{{file.id_}}">

       <div class="form-group">
            <label for="application">Application</label>
            <input name="application" type="text" class="form-control" id="application"
                   placeholder="Enter Path to application" value="{{file.filename}}">
        </div>

        <div id="connection_information">

            {%if not connection.connected()%}

            <div class="form-group form-check">
                <input name="local" type="checkbox" class="form-check-input" id="localhost" {%if
                       connection.local()
                       %}checked {%endif%}>
                <label class="form-check-label" for="localhost">Files are accessible from the web
                    server.</label>
            </div>
            <div class="form-group">
                <label for="connectionusername">Username</label>
                <input {%if connection.local() %}readonly{%endif%} name="username" type="text"
                       class="form-control"
                       id="connectionusername" placeholder="Enter Username"
                       value="{{connection.username()}}">
            </div>
            <div class="form-group">
                <label for="connectiondomain">Domain</label>
                <input {%if connection.local() %}readonly{%endif%} name="domain" type="text"
                       class="form-control"
                       id="connectiondomain" placeholder="Enter Domain name"
                       value="{{connection.domain()}}">
            </div>
            <div class="form-group">
                <label for="connectionport">Port</label>
                <input {%if connection.local() %}readonly{%endif%} name="port" type="number" min="0"
                       class="form-control" id="connectionport" placeholder="Enter SSH Port Number"
                       value="{{connection.port()}}">
            </div>

            <div class="form-group">
                <label for="connectionpassword">Password</label>
                <input {%if connection.local() %}readonly{%endif%} name="password" type="password"
                       class="form-control"
                       id="connectionpassword" placeholder="Enter your password" value="">
            </div>

            {%endif%}

        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
    {%if connection.connected() %}
    <button type="button" class="btn  btn-secondary" onclick='close_inputfile_connection({{file.id_}})'>Disconnect
    </button>
    {%endif%}
    <button type="button" class="btn  btn-primary" onclick="save_input_config({{file.id_}}, $('#input-configuration-form'))">Save</button>
</div>
{%if connection.connected()%}
        <div style="color:green; flex:1; text-align:end; padding:0px 9px 5px 0px;">Connection Status: Connected to {{connection.describe()}}.</div>
{%endif%}

{%endwith%}

<script>

$(document).ready(function() {

    $('#localhost').change(function(){
            $('#connectionusername').attr('readonly',this.checked)
            $('#connectiondomain').attr('readonly',this.checked)
            $('#connectionport').attr('readonly',this.checked)
            $('#connectionpassword').attr('readonly',this.checked)

    });

});



</script>