{%with jobs = file.get_jobs() %}

{% if jobs | length == 0 %}
<div>No Jobs Found</div>
{%else%}

{% for job in file.get_jobs() %}
<div class="" style="padding:10px;">
    <div style="display:flex; align-items:center; font-size:20px; font-weight:800">
         {%if job.running() == True %}
                <div class="badge badge-warning">Running</div>
            {%elif job.exitcode() == 0 %}
                <div class="badge badge-success">Completed</div>
            {%else%}
                <div class="badge badge-danger">Error {{job.exitcode()}}</div>
            {%endif%}
        <div style="flex:1; margin-left:10px" >
            {{job.getName()}}
        </div>
        <div style="margin-right:40px;" >{{job.getId()[0:5]}} </div>
        <div style="margin-right:40px;" >{{job.dispDate()}} </div>

        <button class="btn btn-primary" style="margin-right:10px;" onclick='$("#script_{{job.getId()|safe}}").toggle("show")'>Script</button>
        <button class="btn btn-primary" style="margin-right:10px;" onclick='$("#input_{{job.getId()|safe}}").toggle("show")'>VnV Input</button>

        {%if job.running() %}
            <button class="btn btn-primary" style="margin-right:10px;" onclick='cancel_exe_job({{file.id_}},"{{job.getId()}}")'>Cancel</button>
        {%else%}
            <button class="btn btn-primary" style="margin-right:10px;" onclick='$("#stdout_{{job.getId()|safe}}").toggle("show")'>Stdout</button>
            <button class="btn btn-primary" style="margin-right:10px;" onclick='open_vnv_report("{{job.metadata.get("workflow_id")}}","{{job.metadata.get("workflow_dir")}}")'>Open VnV Report</button>
            <button class="btn btn-primary" style="margin-right:10px;" onclick='delete_exe_job({{file.id_}},"{{job.getId()}}")'>Delete</button>

        {%endif%}
    </div>

    <div id="script_{{job.getId()|safe}}" style="display:none">
        <h3>Execution Script</h3>
        {{job.script()|safe}}
    </div>
    <div id="stdout_{{job.getId()|safe}}" style="display:none">
        <h3>Standard Output</h3>
        {{job.stdout()|safe}}
    </div>
    <div id="input_{{job.getId()|safe}}" style="display:none">
        <h3>VnV Input Files</h3>
        {{job.metadata.get("vnv_input")|safe}}
    </div>

</div>
<hr class="logrule">
{% endfor %}

<script>
    function open_vnv_report(id, dir) {
        markAsLoading(true,"Loading")
        $.get("/inputfiles/openreport/{{file.id_}}?confirmed&id=" + id + "&dir=" + dir , function(data1, status,xhr) {

            if (xhr.status == 200) {
                window.location.href = data1
            } else {
                alert("Could not a find valid vnv report for this job")
            }
        })
    }
</script>

{%endif%}
{%endwith%}