<div style="display:flex; align-items:center; ">
    <h2 style="flex:1">Active Jobs for this File</h2>
    <button class="btn btn-primary" style="margin-right:10px;" onclick='show_help_modal("inputjobs")'>Help</button>
    <button class="btn btn-primary" style="margin-right:10px;" onclick='execute_file({{file.id_}})'>Execute</button>
    <button class="btn btn-primary" style="margin-right:10px;" onclick='view_script({{file.id_}})'>View Script</button>
    <button class="btn btn-primary" style="margin-right:10px;" onclick='refresh_jobs_list({{file.id_}})'>Refresh</button>

</div>
<div class="card" id="input-file-job-list" style="padding:20px;margin-top:20px;">
    {% include "inputfiles/joblist.html" %}
</div>

<script>

</script>