<div class="modal fade" id="new_inputfile_modal" tabindex="-1" role="dialog" aria-labelledby="new_inputfile_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_file_modal_label">Create a new VnV Executable</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div style="padding:20px;">
                The VnV Executable view provides an interface for configuring your VnV application, including
                features like a context aware input file editor (with autocomplete), a context aware command line
                configuration interface, and the ability to run simulations from the browser. To get started, enter
                a unique name for this executable and the filename for the VnV Applications below (you can update
                these later if need be).
            </div>
            <div class="modal-body">
                <form id="new_inputfile_form" action="/inputfiles/new" method="post">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Executable Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                        <small>The executable name is used to identify this executable in the user interface.</small>
                    </div>
                    <div class="form-group">
                        <label for="existing" class="col-form-label">Select A VnV Executable:</label>
                        <select type="text" class="form-control" id="existing" name="executable">
                            {%for r in list_vnv_executables() %}
                            <option value="{{r[0]}}" {%if loop.index0 == 0 %} selected {%endif%}  data-message="{{r[1]}}" >{{r[0]}}</option>
                            {%endfor%}
                        </select>
                        <small id="application_description"> {{list_vnv_executables()[0][1]}} </small>
                    </div>
                     <div class="form-group" id="inputfile_custom">
                        <label for="name" class="col-form-label">VnV Application Path</label>
                        <input type="text" class="form-control" name="path" id="path">
                        <small>Enter the filename for the VnV Executable (e.g. ~/vnv-applications/application.exe)</small>
                    </div>

                       <script>
                        $( document ).ready(function() {

                            $('#existing').on('change', function() {
                                $('#inputfile_custom').toggle($(this).val() === "Custom")
                                $('#application_description').html($(this).find(":selected").data("message"));
                            })
                            $('#inputfile_custom').toggle($('#existing').val() === "Custom")
                        });
                    </script>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn  btn-primary" form="new_inputfile_form">Create New Executable</button>
            </div>
        </div>
    </div>
</div>

<div id="raw-modal" class="modal fade" tabindex="-1" style="height:98vh;" role="dialog"
     aria-labelledby="rst-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:98vw; max-width:98vw" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rst-modal-label"> RST Editor </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="rst-modal-body">
                {%include "viewers/rst_editor.html" %}
            </div>
        </div>
    </div>
</div>

