<li class="nav-item pcoded-hasmenu">

    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file"></i></span><span
            class="pcoded-mtext">VnV Executables</span>
    </a>
    <ul class="pcoded-submenu" id="inputfiles_list">
        {% for file in inputfiles.values() %}
        <li id="inputfile-{{file.id_ | safe}}"><a href="{{url_for('base.inputfiles.view',id_=file.id_)}}">
            <div style="display:flex;">
                <span id="inputfile-display-name-side-{{file.id_}}" style="flex:1;">{{file.name}}</span>

                <span title="Delete" onclick='remove_inputfile({{file.id_ | safe }}, event)' class="pcoded-micon"
                      style="padding-right:10px;">
									<i class="feather icon-delete"></i>
								</span>
            </div>
        </a></li>
        {% endfor %}
        <li>
            <a href="#!" onclick='add_input_file(event)' style="cursor:pointer">
                <i class="feather icon-file-plus"></i> Create A New Executable
            </a>
        </li>
    </ul>

</li>