{% extends "layouts/base.html" %}

{% block title %} {{file.name}} {% endblock %}

{% block stylesheets %}
<link href="/static/assets/css/jsoneditor.css" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}

<h3> VnV Input File: {{file.name}}</h3>
<div class="card" style="padding:10px; flex:1">
<div id="jsoneditor" style="width:100%; flex:1; height:100vh"></div>

</div>

<script src="/static/assets/js/jsoneditor.min.js"></script>

<script>

  const schema = JSON.parse('{{file.schema() | safe }}')
  const json = JSON.parse('{{file.val() | safe }}')

  const options = {
    schema: schema,
    mode: 'tree',
    modes: ['code', 'text', 'tree', 'preview']
  }

  // create the editor
  const container = document.getElementById('jsoneditor')
  const editor = new JSONEditor(container, options, json)

</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
