

{% extends "layouts/base.html" %}


{% block title %} {{file.name}} {% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

{%with
tablist = {
    "config" : ["Configuration", "inputfiles/config.html"],
    "inputfile": ["VnV Input File","inputfiles/input.html"],
    "exec": ["Execution Config","inputfiles/execute.html"],
    "dependencies" : ["Dependencies", "inputfiles/dependencies.html"],
    "psip" : ["PSIP", "inputfiles/psip.html"],
    "issues" : ["Notes/Issues" , "inputfiles/issues.html"],
    "jobs" : ["Results", "inputfiles/jobs.html"]
}
%}
<div id="main_header" style="display:flex; align-items:start; margin-bottom:20px;">
{%include "inputfiles/main_header_content.html" %}
</div>

<div id="inputfile-view-content" style="position:relative; max-width:1400px;">
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    {% for tab in tablist %}
    <li class="nav-item">
        <a class="nav-link {% if loop.index ==  1 %} active {%endif %}" id="pills-{{tab}}-tab" data-toggle="pill"
           href="#pills-{{tab}}" role="tab" state="inputfiles"
           aria-controls="pills-{{tab}}" aria-selected="true">{{tablist[tab][0]}}</a>
    </li>
    {%endfor%}

</ul>

<div class="tab-content fcolumn fchild " id="pills-tabContent">
    {%for tab in tablist %}
    <div class="tab-pane fade {% if loop.index == 1 %} show active {%endif%} finlinecolumn fchild" id="pills-{{tab}}"
         role="tabpanel"
         aria-labelledby="pills-{{tab}}-tab">
        {% include tablist[tab][1] %}
    </div>
    {%endfor%}
</div>

</div>

{% with modal_content = "inputfiles/connection_content.html" %}
{% with modal_id = "config" %}
<div class="modal fade" id="config_config" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="config_content_config" class="modal-content">
                {%include "inputfiles/connection_content.html" %}
        </div>
    </div>
</div>


{% endwith %}
{% endwith %}


{%endwith%}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
