<div id="loading" style="
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height:50px;
    background:linear-gradient(to right, #11345d, #73b4ff);
    color:white;
    z-index:10000;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;">

</div>

<script>

function loading_timeout() {
   setTimeout(function() {
         var a = $('#loading')
         a.html("<span>&#183;</span>" + $('#loading').html()+ "<span>&#183;</span>")
         if (a.css("display") == "flex") {
            loading_timeout();
         }
    },1000)
}

function markAsLoading(val, message){
  if (val) {
    var a = $('#loading')
    a.html(" <span>&#183;</span>  <span>&#183;</span>  <span>&#183;</span>" + message + " <span>&#183;</span>  <span>&#183;</span>  <span>&#183;</span> ")
    a.css("display","flex")
    loading_timeout();
  } else {
    var a = $('#loading')
    a.html(message)
    setTimeout(function() {
         $('#loading').css("display","none")
    },1000)
  }
}


</script>