<div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-modal-label">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirm-modal-body">
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                    eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary" data-dismiss="modal" id="confirm-no">Close</button>

                <button id="confirm-yes" class="btn btn-primary event-btn m-2" type="button">
                    <span class="spinner-grow spinner-grow-sm" role="status" style="display: none;"></span>
					<span class="load-text" style="display: none;">Loading...</span>
					<span id="confirm-yes-text" class="btn-text" style="">Submit</span>
                </button>

            </div>
        </div>
    </div>
</div>

<div id="terminal-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="terminal-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:unset; justify-content:center;" role="document">
        <div class="modal-content" style='width:80vw; height:80vh'>
            <div style="display: flex; align-items:center; margin-left:20px ">
                <h3 style="flex:1">VnV Terminal</h3>
                <button style=" margin:20px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <iframe id='terminal-iframe' class='card' width="100%" height="100%" ></iframe>
        </div>
    </div>
</div>

<div id="theia-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="theia-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:unset; justify-content:center;" role="document">
        <div class="modal-content" style='width:95vw; height:90vh'>
            <div style="display: flex; align-items:center; margin-left:20px ">
                <h3 style="flex:1">Eclipse Theia</h3>
                <button style=" margin:20px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <iframe id='theia-iframe' width="100%" height="100%" ></iframe>
        </div>
    </div>
</div>

<div id="viz-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viz-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:unset; justify-content:center;" role="document">
        <div class="modal-content" style='width:95vw; height:90vh'>
            <div style="display: flex; align-items:center; margin-left:20px ">
                <h3 style="flex:1">Paraview Visualizer</h3>
                <button style=" margin:20px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <iframe id='viz-iframe' width="100%" height="100%" ></iframe>
        </div>
    </div>
</div>


<div id="ipython-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ipython-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:unset; justify-content:center;" role="document">
        <div class="modal-content" style='width:80vw; height:80vh'>
            <div style="display: flex; align-items:center; margin-left:20px ">
                <h3 style="flex:1">VnV Python Terminal</h3>
                <button style=" margin:20px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <iframe id="ipython-iframe" class='card' width="100%" height="100%" ></iframe>
        </div>
    </div>
</div>

<div id="help_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="terminal-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:unset; justify-content:center;" role="document">
        <div class="modal-content" style='position:relative; padding:20px; max-width:1200px; max-height:80vh'>
           <button style=" margin:20px; position:absolute; top:20px; right:20px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div id="help_content"> </div>
        </div>
    </div>
</div>



<script>
function confirm_modal(title, body, yes, no, onclick) {
       m = $('#confirm-modal')

       $('#confirm-modal-label').text(title)
       $('#confirm-modal-body').html('<p>' + body + '</p>')
       $('#confirm-no').text(no)
       $('#confirm-yes-text').text(yes)
       $('#confirm-no').click(e=>{onclick(false, m)});
       $('#confirm-yes').click(e=>{onclick(true, m); });
       m.modal()

 }


</script>