<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-blue">


    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        <a href="#!" class="b-brand">
            <!-- ========   change your logo hear   ============ -->
            <img src="/static/assets/images/logo.png" alt="" class="logo" onclick="window.location.href='/'">
        </a>
        <a href="#!" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="flex:1">
            <li class="nav-item">
                <a href="#!" class="full-screen" onclick="javascript:toggleFullScreen()"><i
                        class="feather icon-maximize"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" >
            <li>
                <div class="dropdown">
                    <a onclick="show_theia()" class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="feather icon-edit"></i></a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" >
            <li>
                <div class="dropdown">
                    <a onclick="show_viz()" class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="feather icon-pie-chart"></i></a>
                </div>
            </li>
        </ul>
         <ul class="navbar-nav ml-auto" >
            <li>
                <div class="dropdown">
                    <a onclick="show_file_reader(1000,'','directory','')" class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon fa fa-folder"></i></a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" >
            <li>
                <div class="dropdown">
                    <a onclick="show_terminal('ipython','?term=py')" class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon fab fa-python"></i></a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" >
            <li>
                <div class="dropdown">
                    <a onclick="show_terminal('terminal','')" class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon fa fa-terminal"></i></a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
                {% for k,v in ALL_BLUEPRINTS.items() %}
	            {%with get_template_file = v.get_template_file %}
                {% include k + "/navigation.html" ignore missing %}
                {%endwith%}
                {%endfor%}
        </ul>

         <ul class="navbar-nav ml-auto" >
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="/logout" ><i class="icon fa fa-sign-out-alt"></i></a>
                </div>
            </li>
        </ul>


    </div>

</header>



<!-- [ Header ] end -->
