
    <script src="/static/assets/js/plugins/bootstrap.min.js"></script>
    <script src="/static/assets/js/pcoded.js"></script>

    <script src="/static/assets/js/plugins/jquery.timeago.js"></script>
    <script>
        $(document).ready(function() {
            $("time.timeago").timeago();
        });
    </script>

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/plugins/gcharts.min.js"></script>
    <script src="/static/assets/js/plugins/json-formatter.umd.js"></script>
    <script src="/static/assets/js/plugins/plotly.min.js"></script>
    <script src="/static/assets/js/plugins/tabulator.min.js"></script>

    {% include 'notifications/scripts.html'%}
    {% include 'plugins/scripts.html'%}
    {% include 'files/scripts.html'%}
    {% include 'inputfiles/scripts.html'%}





