<script src="/static/assets/js/plugins/bootstrap.min.js"></script>
<script src="/static/assets/js/pcoded.js"></script>

<script src="/static/assets/js/plugins/jquery.timeago.js"></script>

<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<script src="/static/assets/js/plugins/Chart.min.js"></script>
<script src="/static/assets/js/plugins/json-formatter.umd.js"></script>
<script src="/static/assets/js/plugins/plotly.min.js"></script>
<script src="/static/assets/js/plugins/tabulator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script src="/static/assets/js/plugins/xterm.js"></script>
<script src="/static/assets/js/plugins/xterm-addon-fit.js"></script>

<script src="/static/assets/js/plugins/gridstack-h5.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="/static/assets/js/plugins/force-graph.js"></script>

<script src="/static/assets/js/plugins/element-resize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ext-language_tools.min.js" ?></script>

<script>
      langTools = ace.require('ace/ext/language_tools');
      langTools.setCompleters([])

</script>


{% for k,v in ALL_BLUEPRINTS.items() %}

{%with get_template_file = v.get_template_file %}
{% include k + "/scripts.html" ignore missing %}
{%endwith%}
{%endfor%}

<script>
        $(document).ready(function(){
            if ($('.grid-stack').length > 0 ) {
                let grid = GridStack.init({});
            }
        });

        function show_help_modal(key) {
            $.get('/help/topic?key=' + key, function(data) {
                $('#help_content').html(data)
                $('#help_modal').modal('show')
            })
        }

        function show_terminal(name, ext) {
            if ($('#' + name + '-iframe').attr("src") === undefined ) {
                $('#' + name + '-iframe').attr("src","/terminal" + ext)
            }
            $('#' + name + '-modal').modal('toggle')
        }

        function show_theia() {
            if ( $('#theia-iframe').attr("src") === undefined ) {
                $('#theia-iframe').attr("src","/theia" )
            }
            $('#theia-modal').modal('toggle')
        }
        function show_viz() {
            if ( $('#viz-iframe').attr("src") === undefined ) {
                $('#viz-iframe').attr("src","/paraview" )
            }
            $('#viz-modal').modal('toggle')
        }



</script>


<script>
        $(document).ready(function() {
            $("time.timeago").timeago();

        });

</script>





