
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar " style="font-size:15px">
					{% include 'plugins/sidebar.html' %}
					{% include 'files/sidebar.html' %}
					{% include 'inputfiles/sidebar.html' %}

				</ul>
			</div>
		</div>
	</nav>

	{%include 'includes/modals.html' %}
	{%include 'plugins/modals.html' %}
	{%include 'files/modals.html' %}
 	{%include 'inputfiles/modals.html' %}



