<link rel="stylesheet" href="/static/assets/css/plugins/Chart.min.css">
<link rel="stylesheet" href="/static/assets/css/plugins/json-formatter.css">
<link rel="stylesheet" href="/static/assets/css/plugins/tabulator.min.css">
<link rel="stylesheet" href="/static/assets/css/plugins/xterm.css">
<link rel="stylesheet" href="/static/assets/css/plugins/gridstack.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<link rel="stylesheet" href="/static/assets/css/style.css">
