<html lang="en">
<head>
    <meta charset="utf-8"/>
    <style>
      html { font-family: arial; }
    </style>
    <link rel="stylesheet" href="/static/assets/css/plugins/xterm.css"/>
</head>
<body>
<div style="position:relative">
<div style="position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    z-index: 100;">status:<span  id="status">connecting...</span></div>
<div style="width: 100%; height: calc(100% - 50px)" id="terminal"></div>
</div>

<!-- xterm -->
<script src="/static/assets/js/plugins/xterm.js"></script>
<script src="/static/assets/js/plugins/xterm-addon-fit.js"></script>
<script src="/static/assets/js/plugins/xterm-addon-web-links.js"></script>
<script src="/static/assets/js/plugins/xterm-addon-search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

<script>
      const term = new Terminal({
        cursorBlink: true,
        macOptionIsMeta: true,
        scrollback: true,
      });

      const fit = new FitAddon.FitAddon();
      term.loadAddon(fit);
      term.loadAddon(new WebLinksAddon.WebLinksAddon());
      term.loadAddon(new SearchAddon.SearchAddon());

      term.open(document.getElementById("terminal"));
      fit.fit();
      term.resize(15, 50);
      fit.fit();

      term.onData((data) => {
        socket.emit("{{pty}}-input", { input: data });
      });



      const socket = io.connect("/{{pty}}");
      const status = document.getElementById("status");

      socket.removeAllListeners("{{pty}}-output");
      socket.on("{{pty}}-output", function (data) {
        console.log("HERE")
        term.write(data.output);
      });

      socket.on("connect", () => {
        fitToscreen();
        status.innerHTML ='<span>connected</span>';
        setTimeout(() => {  socket.emit("{{pty}}-input", { input: "\n" }); } , 500);
      });

      socket.on("disconnect", () => {
        status.innerHTML ='<span style="background-color: #ff8383;">disconnected</span>';
      });

      function fitToscreen() {
        fit.fit();
        const dims = { cols: term.cols, rows: term.rows };
        socket.emit("resize", dims);
      }

      function debounce(func, wait_ms) {
        let timeout;
        return function (...args) {
          const context = this;
          clearTimeout(timeout);
          timeout = setTimeout(() => func.apply(context, args), wait_ms);
        };
      }

      const wait_ms = 50;
      window.onresize = debounce(fitToscreen, wait_ms);

</script>
</body>
</html>