
a[aria-expanded="false"]::before {
    background-color: beige;
    content: "\f105 ";
    font-family: "FontAwesome";
}
a[aria-expanded="true"]::before {
    content: "\f107 ";
    font-family: "FontAwesome";
}
a[data-toggle] {
  font-size: 24px;
}

.panel-body {
padding: 1px 0px 0px 5px;
}
