{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div style="display:flex; justify-content: center; align-items:center; margin:40px;">
    <img style="width:80%; max-width:800px; height:300px;" src="/static/assets/images/logo_large.png" alt="" >
</div>

    {% with buttons = [
    ["Load A New VnV Report","fa fa-play-circle","$('#new_file_modal').modal()"],
    ["Create a New Input File","feather icon-file-plus","$('#new_inputfile_modal').modal()"],
    ["Start a Terminal Session","fa fa-terminal", "$('#terminal-modal').modal('toggle')"],
    ["Open the File Browser","fa fa-folder", "show_file_reader(1000,'','directory','')"],
    ["Logout","fa fa-sign-out-alt", "logout()"]
    ]%}
    {%for r in buttons %}
    <div class="index-container" onclick="{{r[2]}}">
        <i class="index-icon icon {{r[1]}}" ></i>
        <div class="index-content" >{{r[0]}}</div>
    </div>
    {%endfor%}
    {% endwith %}
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
