{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div style="display:flex; justify-content: center; align-items:center; flex:1">
    {% include "includes/intro.html" %}
</div>

{% with buttons = [
["Create a New Executable","feather icon-file-plus","$('#new_inputfile_modal').modal()"],
["Load A Report","fa fa-play-circle","$('#new_file_modal').modal()"],
["Open a Terminal" ,"fa fa-terminal", "$('#terminal-modal').modal('toggle')"],
["View Files","fa fa-folder", "show_file_reader(1000,'','directory','')"],
["Logout","fa fa-sign-out-alt", "logout()"]
]%}
{%for r in buttons %}
<div class="index-container" onclick="{{r[2]}}">
    <i class="index-icon icon {{r[1]}}"></i>
    <div class="index-content">{{r[0]}}</div>
</div>
{%endfor%}
{% endwith %}
<

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
