Flask~=2.0.0
Pygments==2.11.2
Werkzeug~=2.0.1
humanize==4.0.0
ipython==8.0.1
jmespath~=0.10.0
docutils==0.18.1
Markdown~=3.3.4
Sphinx==4.4.0
numpy==1.22.2
flask-socketio~=5.1.1
jsonschema==4.4.0
paramiko==2.9.2
pymongo==4.0.1
Jinja2~=3.0.3
ansi2html~=1.7.0
Flask-Markdown==0.3